<template>
<div class="page-wrapper">
    <div class="page-content-wrapper">

      <!-- START SUBSTRACTION FORM -->
      <button class="substraction__button" aria-label="Substraction"></button>
      <!-- /.substraction-button -->

      <div class="substraction__wrap">

        <div class="substraction__title">
          <div class="substraction__logo">
            <img src="static/img/logo-white.svg" alt="Coffee Sign">
          </div>
          <h3 class="substraction__h3">{{indexObj.hi_there}}</h3>
          <p class="substraction__text">
            {{indexObj.fill_for_agent}}
          </p>
        </div>
        <!-- /.substraction__title -->
    
        <form action="#" class="substraction__form">

          <label>
            <input class="form-input" type="text" name="text" :placeholder=indexObj.your_name>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#name"></use>
            </svg>
          </label>

          <label>
            <input class="form-input" type="email" name="email" :placeholder=commonObj.email>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#mail"></use>
            </svg>
          </label>

          <label>
            <textarea class="form-input textarea" name="message" :placeholder=indexObj.message></textarea>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#comment"></use>
            </svg>
          </label>

          <input type="submit" value="Start Chat" class="button-large">
        </form>
        <!-- /.substraction__form -->

        <a href="#" class="substraction__link">
          {{indexObj.we_are_by}} <b>{{indexObj.twak}}</b>
        </a>

      </div>
      <!-- /.substraction__wrap -->
      <!-- END SUBSTRACTION FORM -->

      <!-- START HEADER -->
      <header class="header header--caseStudy">
        <div class="header__content container-width-medium">
  
          <!-- START HEADER TOP LINE -->
          <div class="header__topline header__topline--caseStudy">
  
            <div class="header__logo header__logo--caseStudy">
              <div class="header__logo-wrap">
                <a href="/">
                  <img src="static/img/logo-dark.svg" alt="Coffee Sign">
                </a>
              </div>
            </div>
            <!-- /.header__logo -->
  
            <button class="header__mobile-button">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <!-- /.header__mobile-button -->
  
            <nav class="header__nav">
  
              <ul class="header__nav-links header__nav-links--caseStudy">
                <li><a href="/" class="hover-link">{{navObj.home}}</a></li>
                <li><a href="/casestudy" class="active hover-link">{{navObj.case_study}}</a></li>
                <li><a href="/legality" class="hover-link">{{navObj.legality_guide}}</a></li>
                <li><a href="/news" class="hover-link">{{navObj.news}}</a></li>
              </ul>
              <!-- /.header__nav-links -->
  
              <ul class="header__nav-actions">
                <li class="language__list-item">
                  <a class="language hover-link" href="#">
                    <img id="showlangflag" src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                    <span id="showlangspan">English</span>
                  </a>
                  <ul class="language__links">
                    <li class="active">
                      <a class="language__link" href="#" v-on:click="changelang('/en')">
                        <img src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                        <span>English</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/jp')">
                        <img src="static/img/svg/japanese-flag.svg" alt="Flag" class="flag">
                        <span>日本語</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/ar')">
                        <img src="static/img/svg/korean-flag.svg" alt="Flag" class="flag">
                        <span>한국어</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li><a class="login" href="#">{{authObj.login}}</a></li>
                <li><a class="signUp button-small" href="#">{{authObj.sign_up}}</a></li>
              </ul>
              <!-- /.header__nav-actions -->
  
            </nav>
            <!-- /.header__nav -->
  
          </div>
          <!-- /.header__topline -->
          <!-- END HEADER TOP LINE -->
  
        </div>
        <!-- /.header__content container-width-medium -->
      </header>
      <!-- /.header -->
      <!-- END HEADER -->
  
      <!-- START POST SECTION -->
      <section class="post">
        <div class="post__content container-width-medium">
  
          <div class="post__title">
            <a href="/casestudy" class="post__title-back hover-link">
              <img src="static/img/svg/arrow-back.svg" alt="Back">
              {{navObj.case_study}}
            </a>
  
            <div class="post__title-date">{{cs_date}}</div>
            <h1 class="post__title-h1">{{cs_title}}</h1>
  
            <ul class="contracts__banner-tags post__title-tags">
              <li v-for="x in bannertags" v-bind:key="x.id">
                  <a href="#">{{x.sub_title}}</a>
              </li>
            </ul>
            <!-- /.contracts__banner-tags -->
  
            <div class="post__title-img">
                <img :src="cs_photo" alt="Banner">
            </div>
            <!-- /.post__title-img -->
          </div>
          <!-- /.post__title -->
  
          <div class="post__text">
            {{cs_details}}
          </div>
          <!-- /.post__text -->
  
        </div>
        <!-- /.post__content container-width-medium -->
      </section>
      <!-- /.post -->
      <!-- END POST SECTION -->
  
      <!-- START MORE POSTS -->
      <section class="morePosts">
        <div class="morePosts__content container-width-medium">
  
          <h2 class="morePosts__h2">{{casestudyObj.you_may_also_like}}</h2>
  
          <!-- START CONTRACTS ITEMS -->
          <div class="contracts__items morePosts__items">
  
            <div class="contracts__item morePosts__item" v-for="x in casestudyposts" v-bind:key="x.id">
              <div class="contracts__item-img">
                <a :href="x.topic_id">
                  <img :src="x.cs_photo" alt="Item 4">
                </a>
              </div>
  
              <div class="contracts__item-text">
                <div class="date">{{x.cs_date}}</div>
                <a :href="x.topic_id" class="itemTitle title hover-link">{{x.cs_title}}</a>
                <p class="subtitle">
                  {{x.cs_details}}
                </p>
                <ul class="list-tags">
                  <li v-for="t in x.list_title" v-bind:key="t.id">
                    <a href="#" v-on:click="getbycategory(t.assigncat)">{{t.assigncatname}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.contracts__item -->
  
          </div>
          <!-- /.contracts__items -->
          <!-- END CONTRACTS ITEMS -->
  
        </div>
        <!-- /.morePosts__content container-width-medium -->
      </section>
      <!-- /.morePosts -->
      <!-- END MORE POSTS -->
  
      <!-- START SIMPLIFY SECTION -->
      <section class="simplify">
        <div class="simplify__content container-width-medium">
  
          <div class="simplify__content-wrap">
            <div class="simplify__title sectionTitle">
              <h2>{{indexObj.simplify_document_signature}}</h2>
              <div class="subtitle">{{indexObj.all_sign_up}}</div>
            </div>
            <!-- /.simplify__title -->
  
            <div class="simplify__links">
              <a href="#" class="button-transparent">{{authObj.sign_in}}</a>
              <a href="#" class="button-large">{{authObj.get_started_now}}</a>
            </div>
            <!-- /.simplify__links -->
          </div>
          <!-- /.simplify__content-wrap -->
  
        </div>
        <!-- /.simplify__content container-width-medium -->
      </section>
      <!-- /.simplify -->
      <!-- END SIMPLIFY SECTION -->
  
      <!-- START FOOTER -->
      <footer class="footer">
        <div class="footer__content container-width-medium">
  
          <div class="footer__topline">
            <div class="footer__topline-logo">
              <img src="static/img/logo-dark.svg" alt="Coffee Sign">
            </div>
            <!-- /.footer__topline-logo -->
  
            <ul class="footer__links">
              <li>
                <a href="/">{{navObj.home}}</a>
              </li>
              <li>
                <a href="/casestudy">{{navObj.case_study}}</a>
              </li>
              <li>
                <a href="/legality">{{navObj.legality_guide}}</a>
              </li>
              <li>
                <a href="/news">{{navObj.news}}</a>
              </li>
            </ul>
            <!-- /.footer__links -->
          </div>
          <!-- /.footer__topline -->
  
          <div class="footer__bottomline">
            <div class="footer__bottomline-text">
              <div class="footer__bottomline-img">
                <img src="static/img/svg/footer-icon.svg" alt="Contacts">
              </div>
              <div class="footer__bottomline-contacts">
                <div class="title">{{footerObj.want_to_say_hi}}</div>
                <div class="contacts">
                  {{footerObj.mail_us_at}}
                  <a href="mailto:support@coffeesign.com">support@coffeesign.com</a>
                </div>
              </div>
            </div>
            <!-- /.footer__bottomline-text -->
  
            <ul class="footer__sotial">
              <li class="footer__sotial-title">
                {{footerObj.follow_on_social_media}}
              </li>
              <li>
                <a href="#" aria-label="Facebook">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Twitter">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Linkedin">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <!-- /.footer__sotial -->
          </div>
          <!-- /.footer__bottomline -->
  
        </div>
        <!-- /.footer__content container-width-medium -->
      </footer>
      <!-- /.footer -->
      <!-- END FOOTER -->

    </div>
    <!-- /.page-content-wrapper -->
  </div>
  <!-- /.page-wrapper -->
</template>

<script>
export default {
  name: 'CaseStudyPost',
  props: ['routeid'],
  data () {
    return {
      cs_date: '',
      cs_title: '',
      cs_details: '',
      cs_photo: '',
      casestudyposts: [],
      bannertags: [],
      lang: '/en',
      navObj: {},
      authObj: {},
      casestudyObj: {},
      footerObj: {},
      indexObj: {},
      commonObj: {}
    }
  },
  watch: {
    'this.routeid': function (id) {
      this.getcasestudypost()
    }
  },
  created: function () {
    this.getcasestudypost()
  },
  methods: {
    getcasestudypost: function () {
        console.log('the route id is ', this.routeid);
        this.$http.get(this.$api_url+this.lang+'/blog/topic/'+this.routeid, { headers: { 'Authorization': null } })
                    .then((response) => {
                     this.cs_date = new Date(response.data['date_start']).toDateString();
                     this.cs_title = response.data['title'];
                     this.cs_details = response.data['detail'];
                     this.cs_photo = this.$api_url+response.data['photo_file'];
                    })
                    .catch((error) => {
                        // Error
                        if (error.response) {
                            //alert("There is error. Please try again.")
                        } else if (error.request) {
                            console.log(error.request)
                            //alert("No connection to server. Please check your internet connectivity.");
                        } else {
                            // Something happened in setting up the request that triggered an Error
                            console.log('Error', error.message);
                            //alert("unknown error. please try again.")
                        }
                        console.log(error.config)
                }) 
      },
    getmorecasestudypost : function () {
        this.$http.get(this.$api_url+this.lang+'/blog/3', { headers: { 'Authorization': null } })
                      .then((response) => {
                     console.log('the more case study is ', response.data[0]);  
                      var reslength = response.data.length;
                      var i;
                      var subcat;
                      var s;
                      var tagcat;
                      var t;
                      for(i = 0; i < reslength; i++) {
                        this.casestudyposts.push({"id": i, "cs_title": response.data[i]['title'], "cs_details": response.data[i]['details_en'], "cs_photo": this.$api_url+response.data[i]['photo_file'], "cs_date": new Date(response.data[i]['date']).toDateString(), "topic_id": '/casestudypost?id='+response.data[i]['topic_id'], "list_title": response.data[i]['assigncat']}); 
                        subcat = response.data[i]['subcat'];
                        this.bannertags = [];
                        for(s = 0; s < subcat.length; s++) {
                        this.bannertags.push({"id": s, "sub_cat_id": subcat[s]['sub_category_id'], "sub_title": subcat[s]['sub_title']});
                        }
                      }
                      })
                      .catch((error) => {
                          // Error
                          if (error.response) {
                              //alert("There is error. Please try again.")
                          } else if (error.request) {
                              console.log(error.request)
                              //alert("No connection to server. Please check your internet connectivity.");
                          } else {
                              // Something happened in setting up the request that triggered an Error
                              console.log('Error', error.message);
                              //alert("unknown error. please try again.")
                          }
                          console.log(error.config)
                  })  
    },
    getbycategory: function (id) {
       this.$http.get(this.$api_url+this.lang+'/'+id+'/casestudybycat', { headers: { 'Authorization': null } })
                    .then((response) => {
                      var reslength = response.data.length;
                      this.casestudyposts = [];
                      var i;
                      var subcat;
                      var s;
                      var tagcat;
                      var t;
                      for(i = 0; i < reslength; i++) {
                        this.casestudyposts.push({"id": i, "cs_title": response.data[i]['title'], "cs_details": response.data[i]['details_en'], "cs_photo": this.$api_url+response.data[i]['photo_file'], "cs_date": new Date(response.data[i]['date']).toDateString(), "topic_id": '/casestudypost?id='+response.data[i]['topic_id'], "list_title":''}); 
                        subcat = response.data[i]['subcat'];
                        this.bannertags = [];
                        for(s = 0; s < subcat.length; s++) {
                        this.bannertags.push({"id": s, "sub_cat_id": subcat[s]['sub_category_id'], "sub_title": subcat[s]['sub_title']});
                        this.casestudyposts[i]['list_title'] = this.bannertags;
                        }
                      }
                    })
                    .catch((error) => {
                        // Error
                        if (error.response) {
                            //alert("There is error. Please try again.")
                        } else if (error.request) {
                            console.log(error.request)
                            //alert("No connection to server. Please check your internet connectivity.");
                        } else {
                            // Something happened in setting up the request that triggered an Error
                            console.log('Error', error.message);
                            //alert("unknown error. please try again.")
                        }
                        console.log(error.config)
                }) 
    },
    changelang: function (langvalue) {
      this.lang = langvalue;
      localStorage.setItem('langselected', langvalue);
      location.reload(true);
    },
    getlanginputs: function () {
      if (localStorage.getItem('langselected')) {
        var lang = localStorage.getItem('langselected');
      } else {
        var lang = '/en';
      }
      this.$http.get(this.$api_url+'/static/i18n'+lang+'.json', { headers: { 'Authorization': null } })
                  .then((response) => {
                  //console.log('the lang inputs are here ', response.data);
                  this.authObj = response.data['auth'];
                  this.navObj = response.data['navigation'];
                  this.commonObj = response.data['common'];
                  this.indexObj = response.data['index'];
                  this.casestudyObj = response.data['case_study'];
                  this.footerObj = response.data['footer'];
                 })
                  .catch((error) => {
                      // Error
                      if (error.response) {
                          //alert("There is error. Please try again.")
                      } else if (error.request) {
                          console.log(error.request)
                          //alert("No connection to server. Please check your internet connectivity.");
                      } else {
                          console.log('Error', error.message);
                          //alert("unknown error. please try again.")
                      }
                      console.log(error.config)
              });
    },
    updatelang: function () {
      if (localStorage.getItem('langselected')) {
      var langselected = localStorage.getItem('langselected');
      this.lang = langselected;
      if (langselected=='/jp') {
        document.getElementById("showlangspan").textContent = "æ—¥æœ¬èªž";
        document.getElementById("showlangflag").src = 'static/img/svg/japanese-flag.svg';
      }
      if (langselected=='/ar') {
        document.getElementById("showlangspan").textContent = "í•œêµ­ì–´";
        document.getElementById("showlangflag").src = 'static/img/svg/korean-flag.svg';
      }
      if (langselected=='/en') {
        document.getElementById("showlangspan").textContent = "English";
        document.getElementById("showlangflag").src = 'static/img/svg/england-flag.svg';
      }
      }
    }  
  },
  mounted() {
    this.getlanginputs();
    this.updatelang();
    this.getcasestudypost();
    this.getmorecasestudypost();
  }  
}
</script>