<template>
      <!-- START HEADER -->
      <header class="header">
        <div class="header__content container-width-medium">

          <!-- START HEADER TOP LINE -->
          <div class="header__topline">

            <div class="header__logo">
              <div class="header__logo-wrap">
                <a href="/">
                  <img src="static/img/logo-white.svg" alt="Coffee Sign">
                </a>
              </div>
            </div>
            <!-- /.header__logo -->

            <button class="header__mobile-button">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <!-- /.header__mobile-button -->

            <nav class="header__nav">

              <ul class="header__nav-links">
                <li><a href="/" class="active hover-link">Home</a></li>
                <li><a href="/casestudy" class="hover-link">Case Study</a></li>
                <li><a href="/legality" class="hover-link">Legality Guide</a></li>
                <li><a href="/news" class="hover-link">News</a></li>
              </ul>
              <!-- /.header__nav-links -->

             <ul class="header__nav-actions">
                <li class="language__list-item">
                  <a class="language hover-link" href="#">
                    <img id="showlangflag" src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                    <span id="showlangspan">English</span>
                  </a>
                  <ul class="language__links">
                    <li class="active">
                      <a class="language__link" href="#" v-on:click="changelang('/en')">
                        <img src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                        <span>English</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/jp')">
                        <img src="static/img/svg/japanese-flag.svg" alt="Flag" class="flag">
                        <span>日本語</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/ar')">
                        <img src="static/img/svg/korean-flag.svg" alt="Flag" class="flag">
                        <span>한국어</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li v-if="showlogged"><span class="text-danger"></span></li>
                <li v-else><a class="login" data-toggle="modal" href="#LoginModal" id="loginlink">Log In</a></li>
                <li v-if="showlogged"><button class="btn btn-primary" v-on:click="logoutuser">Log Out</button></li>
                <li v-else><a class="signUp button-small" data-toggle="modal" href="#SignUpModal">Sign Up</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
</template>
<script>
export default {
    name: 'HeaderLayout'
}
</script>