<template>
<div class="page-wrapper">
    <div class="page-content-wrapper">

      <div class="appLine active">
        <div class="appLine__wrap">
          <span class="appLine__banner">{{bannertitle}}</span>
          <span class="appLine__text">{{bannerdetail}}</span>
           <a href="#" class="appLine__link">{{commonObj.download}}</a>
        </div>
        <button aria-label="Close banner" class="appLine__button">
          <span></span>
          <span></span>
        </button>
      </div>
      <!-- /.appLine -->

      <!-- START SUBSTRACTION FORM -->
      <button class="substraction__button" aria-label="Substraction"></button>
      <!-- /.substraction-button -->

      <div class="substraction__wrap">

        <div class="substraction__title">
          <div class="substraction__logo">
            <img src="static/img/logo-white.svg" alt="Coffee Sign">
          </div>
          <h3 class="substraction__h3">{{indexObj.hi_there}}! ðŸ‘‹</h3>
          <p class="substraction__text">
            {{indexObj.fill_for_agent}}
          </p>
        </div>
        <!-- /.substraction__title -->
    
        <form action="#" class="substraction__form">

          <label>
            <input class="form-input" type="text" name="text" :placeholder=indexObj.your_name>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#name"></use>
            </svg>
          </label>

          <label>
            <input class="form-input" type="email" name="email" :placeholder=commonObj.email>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#mail"></use>
            </svg>
          </label>

          <label>
            <textarea class="form-input textarea" name="message" :placeholder=indexObj.message></textarea>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#comment"></use>
            </svg>
          </label>

          <input type="submit" value="Start Chat" class="button-large">
        </form>
        <!-- /.substraction__form -->

        <a href="#" class="substraction__link">
          {{indexObj.we_are_by}} <b>{{indexObj.twak}}</b>
        </a>

      </div>
      <!-- /.substraction__wrap -->
      <!-- END SUBSTRACTION FORM -->

      <!-- START HEADER -->
      <header class="header">
        <div class="header__content container-width-medium">

          <!-- START HEADER TOP LINE -->
          <div class="header__topline">

            <div class="header__logo">
              <div class="header__logo-wrap">
                <a href="/">
                  <img src="static/img/logo-white.svg" alt="Coffee Sign">
                </a>
              </div>
            </div>
            <!-- /.header__logo -->

            <button class="header__mobile-button">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <!-- /.header__mobile-button -->

            <nav class="header__nav">

              <ul class="header__nav-links">
                <li><a href="/" class="active hover-link">{{navObj.home}}</a></li>
                <li><a href="/casestudy" class="hover-link">{{navObj.case_study}}</a></li>
                <li><a href="/legality" class="hover-link">{{navObj.legality_guide}}</a></li>
                <li><a href="/news" class="hover-link">{{navObj.news}}</a></li>
              </ul>
              <!-- /.header__nav-links -->

              <ul class="header__nav-actions">
                <li class="language__list-item">
                  <a class="language hover-link" href="#">
                    <img id="showlangflag" src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                    <span id="showlangspan">English</span>
                  </a>
                  <ul class="language__links">
                    <li class="active">
                      <a class="language__link" href="#" v-on:click="changelang('/en')">
                        <img src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                        <span>English</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/jp')">
                        <img src="static/img/svg/japanese-flag.svg" alt="Flag" class="flag">
                        <span>日本語</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/ar')">
                        <img src="static/img/svg/korean-flag.svg" alt="Flag" class="flag">
                        <span>한국어</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li v-if="showlogged"><span class="text-danger"></span></li>
                <li v-else><a class="login" data-toggle="modal" href="#" id="loginlink">{{authObj.login}}</a></li>
                <li v-if="showlogged"><button class="btn btn-primary" v-on:click="logoutuser">Log Out</button></li>
                <li v-else><a class="signUp button-small" data-toggle="modal" href="#">{{authObj.sign_up}}</a></li>
              </ul>
              <!-- /.header__nav-actions -->

            </nav>
            <!-- /.header__nav -->

          </div>
          <!-- /.header__topline -->
          <!-- END HEADER TOP LINE -->
          <!-- START HEADER MAIN -->
          <div class="header__main">

            <h1 class="header__h1">
              <span>{{title1msg}},<br></span>
              <span class="">{{title2msg}}&nbsp;<img :src="cup_image" width="56" height="56"/></span>
            </h1>
            <!-- /.header__h1 -->

            <div class="header__subtitle">
              {{details_en}}
            </div>

            <a v-bind:href=link_url class="header__main-button button-medium">{{indexObj.get_free_account}}!</a>

          </div>
          <!-- /.header__main -->
          <!-- END HEADER MAIN -->

        </div>
        <!-- /.header__content container-width-medium -->
      </header>
      <!-- /.header -->
      <!-- END HEADER -->

      <!-- START ADVANTAGES SECTION -->
      <section class="advantages">
        <div class="advantages__content container-width-medium">

          <div class="advantages__content-wrap">
            <div class="advantages__title sectionTitle">
              <div class="subtitle">{{indexObj.why_e_signature}}</div>
              <h2>{{indexObj.why_e_signature_good}}</h2>
            </div>
            <!-- /.advantage__title -->

            <!-- START ADVANTAGES ITEMS -->
            <div class="advantages__items">

              <div class="advantages__item">
                <div class="advantages__item-title">
                  <h3 class="advantages__item-h3 itemTitle">
                    <span class="advantages__item-img">
                      <img src="static/img/advantages/item-1.svg" alt="Item 1">
                    </span>
                    {{indexObj.easy_and_fast}}
                  </h3>
                  <span class="subtitle">{{indexObj.easy_send_document}}</span>
                </div>
              </div>
              <!-- /.advantages__item -->

              <div class="advantages__item">
                <div class="advantages__item-title">
                  <h3 class="advantages__item-h3 itemTitle">
                    <span class="advantages__item-img">
                      <img src="static/img/advantages/item-2.svg" alt="Item 1">
                    </span>
                    {{indexObj.legally_binding}}
                  </h3>
                  <span class="subtitle">{{indexObj.coffeesign_legal_validit}}</span>
                </div>
              </div>
              <!-- /.advantages__item -->

              <div class="advantages__item">
                <div class="advantages__item-title">
                  <h3 class="advantages__item-h3 itemTitle">
                    <span class="advantages__item-img">
                      <img src="static/img/advantages/item-3.svg" alt="Item 1">
                    </span>
                    {{indexObj.save_money}}
                  </h3>
                  <span class="subtitle">{{indexObj.lower_price_competitor}} </span>
                </div>
              </div>
              <!-- /.advantages__item -->

            </div>
            <!-- /.advantages__items -->
            <!-- END ADVANTAGES ITEMS -->
          </div>
          <!-- /.advantages__content-wrap -->

        </div>
        <!-- /.advantages__content container-width-medium -->
      </section>
      <!-- /.advantages -->
      <!-- END ADVANTAGES SECTION -->

      <!-- START SECTION SPECIAL ABOUT -->
      <section class="specialAbout">
        <div class="specialAbout__content container-width-medium">

          <div class="specialAbout__title sectionTitle">
            <div class="subtitle">{{indexObj.why_coffeesign}}</div>
            <h2>{{indexObj.why_coffeesign_special}}</h2>
          </div>
          <!-- /.specialAbout__title -->

          <!-- START SPECIAL ABOUT ITEMS -->
          <div class="specialAbout__items">

            <div class="specialAbout__item">
                <div class="specialAbout__item-img">
                  <img src="static/img/special-about/item-1.svg" alt="Item 1">
                </div>
                <h3 class="itemTitle">{{indexObj.lawyer_template}}</h3>
                <div class="subtitle">{{indexObj.lawyer_template_partner}}</div>
            </div>
            <!-- /.specialAbout__item -->

            <div class="specialAbout__item">
                <div class="specialAbout__item-img">
                  <img src="static/img/special-about/item-2.svg" alt="Item 2">
                </div>
                <h3 class="itemTitle">{{indexObj.exchangeable_template}}</h3>
                <div class="subtitle">{{indexObj.users_can_exchange}}</div>
            </div>
            <!-- /.specialAbout__item -->

            <div class="specialAbout__item">
                <div class="specialAbout__item-img">
                  <img src="static/img/special-about/item-3.svg" alt="Item 3">
                </div>
                <h3 class="itemTitle">{{indexObj.language_support}}</h3>
                <div class="subtitle">{{indexObj.full_support}}</div>
            </div>
            <!-- /.specialAbout__item -->

          </div>
          <!-- /.specialAbout__items -->
          <!-- END SPECIAL ABOUT ITEMS -->

        </div>
        <!-- /.specialAbout__content container-width-medium -->
      </section>
      <!-- /.specialAbout -->
      <!-- END SECTION SPECIAL ABOUT -->

      <!-- START STEPS SECTION -->
      <section class="steps">
        <div class="steps__content container-width-medium">

          <div class="steps__content-wrap">
            <div class="steps__title sectionTitle">
              <div class="subtitle">{{indexObj.how_coffeesign_works}}</div>
              <h2>{{indexObj.three_easy_step}}</h2>
            </div>
            <!-- /.steps__title -->

            <!-- START STEPS ITEMS -->
            <div class="steps__items">

              <div class="steps__item">
                <div class="steps__item-text">
                  <h3 class="itemTitle">
                    <span class="steps__item-step">01</span>
                    {{indexObj.upload_documents}}
                  </h3>
                  <p class="text">
                    {{indexObj.from_straight_disk}}
                  </p>
                </div>
              </div>
              <!-- /.steps__item -->

              <div class="steps__item">
                <div class="steps__item-text">
                  <h3 class="itemTitle">
                    <span class="steps__item-step">02</span>
                    {{indexObj.add_recipients}}
                  </h3>
                  <p class="text">
                    {{indexObj.send_to_recipient}}
                  </p>
                </div>
              </div>
              <!-- /.steps__item -->

              <div class="steps__item">
                <div class="steps__item-text">
                  <h3 class="itemTitle">
                    <span class="steps__item-step">03</span>
                    {{indexObj.easy_document_preparation}}
                  </h3>
                  <p class="text">
                    {{indexObj.fill_out_documents}}
                  </p>
                </div>
              </div>
              <!-- /.steps__item -->

            </div>
            <!-- /.steps__items -->
            <!-- END STEPS ITEMS -->
          </div>
          <!-- /.steps__content-wrap -->

        </div>
        <!-- /.steps__content container-width-medium -->
      </section>
      <!-- /.steps -->
      <!-- END STEPS SECTION -->

      <!-- START LEGALITY GUIDE SECTION -->
      <section class="legalityGuide">
        <div class="legalityGuide__content container-width-medium">

          <div class="legalityGuide__content-wrap">

            <div class="legalityGuide__title sectionTitle">
              <div class="subtitle">{{indexObj.esignature_legality_guide}}</div>
              <h2>{{indexObj.technically_safe}}</h2>
              <a href="/legality" class="legalityGuide__title-button button-large">{{indexObj.go_esignature_legality_guide}}</a>
            </div>
            <!-- /.legalityGuide__title -->

            <!-- START LEGALITY GUIDE ITEMS -->
            <div class="legalityGuide__items-wrap swiper-container">
              <div class="legalityGuide__items swiper-wrapper">
                <div class="legalityGuide__item swiper-slide" v-for="x in blogs" v-bind:key="x.id">
                  <p class="legalityGuide__item-text" v-html="x.blog_title">
                  </p>
                  <a :href="x.cat_id" class="legalityGuide__item-link">Read more about eSignature Legality in {{ x.cat_name }}</a>
                </div>
                <!-- /.legalityGuide__item -->
              </div>
              <!-- /.legalityGuide__items -->
              <div class="legalityGuide__items-pagination">
                <div class="swiper-button-prev"><span>&#8249;</span></div>
                <div class="swiper-button-next"><span>&#8250;</span></div>
              </div>
              
              <!-- /.legalityGuide__items-pagination -->

            </div>
            <!-- /.legalityGuide__items-wrap -->
            <!-- END LEGALITY GUIDE ITEMS -->

          </div>
          <!-- /.legalityGuide__content-wrap -->

        </div>
        <!-- /.legalityGuide__content container-width-medium -->

        
      </section>
      <!-- /.legalityGuide -->
     
      <!-- END LEGALITY GUIDE SECTION -->

      <!-- START TESTIMONIALS SECTION -->
      <section class="testimonials">
        <div class="testimonials__content container-width-medium">

          <div class="testimonials__title sectionTitle">
            <div class="subtitle">{{indexObj.testimonial}}</div>
            <h2>{{indexObj.what_customer_say}}</h2>
          </div>
          <!-- /.testimonials__title -->

          <!-- START TESTIMONIALS ITEMS -->
          <div class="testimonials__items-wrap swiper-container">

            <div class="testimonials__items swiper-wrapper">

              <div class="testimonials__item-wrap swiper-slide" v-for="x in testimonials" v-bind:key="x.id">
                <div class="testimonials__item">
                  <div class="testimonials__item-img">
                    <a :href="x.topic_id"><img :src="x.testi_photo" alt="Item 1"></a>
                  </div>
                  <a :href="x.topic_id" style="text-decoration: none;"><h4 class="testimonials__item-h4">{{x.testi_title}}</h4></a>
                  <p class="testimonials__item-text">
                    {{ x.testi_details | truncate(150, '...')}}
                  </p>
                  <div class="testimonials__item-logo">
                    <a :href="x.topic_id"><img :src="x.logo_image" alt="Logo 1"></a>
                  </div>
                </div>
                <!-- /.testimonials__item -->
              </div>
              <!-- /.testimonials__item-wrap -->
              <!-- /.testimonials__item-wrap -->
  
            </div>
            <!-- /.testimonials__items -->

          </div>
          <!-- /.testimonials__items-wrap -->
          <!-- END TESTIMONIALS ITEMS -->

          <div class="testimonials__buttons">
            <button class="testimonials__buttons-prev">
              <svg class="testimonials__arrow testimonials__arrow--left">
                <use xlink:href="static/img/svg/sprite-testimonials-arrows.svg#arrow-left"></use>
              </svg>
            </button>
            <button class="testimonials__buttons-next">
              <svg class="testimonials__arrow testimonials__arrow--right">
                <use xlink:href="static/img/svg/sprite-testimonials-arrows.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
          <!-- /.testimonials__buttons-pagination -->

          <a href="/casestudy" class="testimonials__button button-large">{{indexObj.read_case_study}}</a>

        </div>
        <!-- /.testimomials__content container-width-medium -->
      </section>
      <!-- /.testimomials -->
      <!-- END TESTIMONIALS SECTION -->

      <!-- START PRICING SECTION -->
      <section class="pricing">
        <div class="pricing__content container-width-medium">

          <div class="pricing__title sectionTitle">
            <div class="subtitle">Packages</div>
            <h2>Great pricing options for everybody</h2>
          </div>
          <!-- /.pricing__title -->

          <ul class="pricing__toggle">
            <li class="active">
              <button class="pricing__toggle-button">Annual</button>
            </li>
            <li>
              <button class="pricing__toggle-button">Monthly</button>
            </li>
          </ul>
          <!-- /.pricing__toggle -->

          <!-- START PRICING ITEMS -->
          <div class="pricing__items">

            <!-- START PRICING ANNUAL -->
            <div class="pricing__items-wrap active">

              <div class="pricing__item" v-for="x in pricingoptions" v-bind:key="x.id">
                <div class="pricing__item-title">
                  <span>{{x.title_en}}</span>
                  <img :src="x.photo_file" alt="Item 1">
                </div>
                <div class="pricing__item-price">
                  <span class="name">per user, per month <br>${{x.anually_price * 12}} annually</span>
                  <span class="price">${{x.anually_price}}.<sup>00</sup></span>
                </div>
                <div class="pricing__item-text">
                  <div v-html="x.limit_signature_en"></div>
                </div>
                <div class="pricing__item-button">
                  <a v-if="x.title_en=='Free'" href="javascript: void(0);" class="button-large free">{{indexObj.choose_this_plan}}</a>
                  <a v-else href="javascript: void(0);" class="button-large">{{indexObj.choose_this_plan}}</a>
                </div>
              </div>
              <!-- /.pricing__item -->

            </div>
            <!-- /.pricing__items-wrap -->
            <!-- END PRICING ANNUAL -->

            <!-- START PRICING MONTLY -->
            <div class="pricing__items-wrap">

              <div class="pricing__item" v-for="x in pricingoptions" v-bind:key="x.id">
                <div class="pricing__item-title">
                  <span>{{x.title_en}}</span>
                  <img :src="x.photo_file" alt="Item 3">
                </div>
                <div class="pricing__item-price">
                  <span class="name">Per month</span>
                  <span class="price">${{x.price}}.<sup>00</sup></span>
                </div>
                <div class="pricing__item-text">
                  <div v-html="x.limit_signature_en"></div>
                </div>
                <div class="pricing__item-button">
                  <a v-if="x.title_en=='Free'" href="javascript: void(0);" class="button-large free">Current Plan</a>
                  <a v-else href="javascript: void(0);" class="button-large">{{indexObj.choose_this_plan}}</a>
                </div>
              </div>
              <!-- /.pricing__item -->

            </div>
            <!-- /.pricing__items-wrap -->
            <!-- END PRICING MONTLY -->

          </div>
          <!-- /.pricing__items -->
          <!-- END PRICING ITEMS -->

        </div>
        <!-- /.pricing__content container-width-medium -->
      </section>
      <!-- /.pricing -->
      <!-- END PRICING SECTION -->

      <!-- START SIMPLIFY SECTION -->
      <section class="simplify">
        <div class="simplify__content container-width-medium">

          <div class="simplify__content-wrap">
            <div class="simplify__title sectionTitle">
              <h2>{{indexObj.simplify_document_signature}}</h2>
              <div class="subtitle">{{indexObj.all_sign_up}}</div>
            </div>
            <!-- /.simplify__title -->

            <div class="simplify__links">
              <a href="#" style="text-decoration: none;cursor: none;" class="button-transparent" v-if="showlogged">Logged</a>
              <a data-toggle="modal" href="#" class="button-transparent" v-else>{{authObj.sign_in}}</a>
              <a href="#" class="button-large">{{authObj.get_started_now}}</a>
            </div>
            <!-- /.simplify__links -->
          </div>
          <!-- /.simplify__content-wrap -->

        </div>
        <!-- /.simplify__content container-width-medium -->
      </section>
      <!-- /.simplify -->
      <!-- END SIMPLIFY SECTION -->

      <!-- START FOOTER -->
      <footer class="footer">
        <div class="footer__content container-width-medium">

          <div class="footer__topline">
            <div class="footer__topline-logo">
              <img src="static/img/logo-dark.svg" alt="Coffee Sign">
            </div>
            <!-- /.footer__topline-logo -->

            <ul class="footer__links">
              <li>
                <a href="/">{{navObj.home}}</a>
              </li>
              <li>
                <a href="/casestudy">{{navObj.case_study}}</a>
              </li>
              <li>
                <a href="/legality">{{navObj.legality_guide}}</a>
              </li>
              <li>
                <a href="/news">{{navObj.news}}</a>
              </li>
            </ul>
            <!-- /.footer__links -->
          </div>
          <!-- /.footer__topline -->

          <div class="footer__bottomline">
            <div class="footer__bottomline-text">
              <div class="footer__bottomline-img">
                <img src="static/img/svg/footer-icon.svg" alt="Contacts">
              </div>
              <div class="footer__bottomline-contacts">
                <div class="title">{{footerObj.want_to_say_hi}}</div>
                <div class="contacts">
                  {{footerObj.mail_us_at}}
                  <a href="mailto:support@coffeesign.com">support@coffeesign.com</a>
                </div>
              </div>
            </div>
            <!-- /.footer__bottomline-text -->

            <ul class="footer__sotial">
              <li class="footer__sotial-title">
                {{footerObj.follow_on_social_media}}
              </li>
              <li>
                <a href="#" aria-label="Facebook">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Twitter">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Linkedin">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <!-- /.footer__sotial -->
          </div>
          <!-- /.footer__bottomline -->

        </div>
        <!-- /.footer__content container-width-medium -->
      </footer>
      <!-- /.footer -->
      <!-- END FOOTER -->
    </div>
    <!-- /.page-content-wrapper -->
<!-- The Modal for Login Form -->
<!--
<div class="modal" id="LoginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="closeloginmodalbutton">&times;</button>
        <h4 class="modal-title">{{authObj.login}}</h4>
      </div>
          <div class="modal-body">
        <form action="">
        <div class="form-group">
          <label for="email">{{commonObj.email}}:</label>
          <input type="email" class="form-control" id="email" required>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" required>
          <span id="loginerror" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary" v-on:click="loginuser">Submit</button>
        </form> 
      </div>
    </div>
  </div>
</div>

<div class="modal" id="SignUpModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="signupmodalbutton">&times;</button>
        <h4 class="modal-title">SignUp</h4>
      </div>
     
      <div class="modal-body">
        <form action="">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" required>
          <span id="nameerror" class="text-danger"></span>
        </div>  
        <div class="form-group">
          <label for="emailaddress">Email Address:</label>
          <input type="email" class="form-control" id="emailaddress" required>
          <span id="emailerror" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" required>
          <span id="passworderror" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label for="cpassword">Confirm Password:</label>
          <input type="password" class="form-control" id="cpassword" required>
          <span id="cpassworderror" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" v-on:click="submitsignup">Submit</button>
        </form> 
      </div>
    </div>
  </div>
</div>

<div class="modal" id="SuccessModal">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="closesuccessmodalbutton">&times;</button>
        <h4 class="modal-title">Registration</h4>
      </div>
     
      <div class="modal-body">
        <p class="text-center">Your account is successfully registered.<br><br>
          <button class="btn btn-success" v-on:click="openlogin">Login Now</button>
        </p>   
      </div>
    </div>
  </div>
</div>

<button data-toggle="modal" data-target="#SuccessModal" id="successmodalbutton" style="display: none;"></button>
<!-- The Modal End --> 
</div>
  <!-- /.page-wrapper -->
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      title1msg: '',
      title2msg: '',
      details_en: '',
      link_url: '',
      bannertitle: '',
      bannerdetail: '',
      bannerlink_url: '',
      cup_image: '',
      blogs: [],
      blog_title: '',
      testimonials: [],
      pricingoptions: [],
      showlogged: false,
      loginusername: '',
      lang: '/en',
      authObj: {},
      navObj: {},
      commonObj: {},
      indexObj: {},
      footerObj: {}
    }
  },
  methods: {
      submitsignup: function (e) {
      e.preventDefault();
      var name = document.getElementById("name").value;
      var email = document.getElementById("emailaddress").value;
      var pass1 = document.getElementById("password").value;
      var pass2 = document.getElementById("cpassword").value;
      var error = 0;
      var letters = /^[a-zA-Z][a-zA-Z\s]*$/;
              if (!name.match(letters)) {
                document.getElementById("nameerror").innerText = "Name may contain only alphabets.";
                error = 1;
              } else {
                document.getElementById("nameerror").innerText = "";
              }
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (!re.test(email)) {
        document.getElementById("emailerror").innerText = "Please type a valid email address.";
        error = 1;
      } else {
              document.getElementById("emailerror").innerText = "";
             }        
      if (pass1!=pass2) {
            document.getElementById("cpassworderror").innerText = "Password not matched!!";
            error = 1;
            } else {
              document.getElementById("cpassworderror").innerText = "";
            }
      if (pass1.length<6) {
          document.getElementById("passworderror").innerText = "Please type password of atleast six characters!";
          error = 1;
      } else {
          document.getElementById("passworderror").innerText = "";
      }
      if (error==0) {
        const formdata = new FormData();
        formdata.append('name', name);
        formdata.append('email', email);
        formdata.append('password', pass2);
        this.$http.post(this.$api_url+'/signupapi', formdata, { headers: { 'Authorization': null } })
                    .then((response) => {
                    //alert(JSON.stringify(response.data));
                    if (response.data['comment']=='Register successfully.') {
                      document.getElementById("signupmodalbutton").click();  
                      document.getElementById("successmodalbutton").click();
                        } else if (response.data['comment']=='User already exist.') {
                          document.getElementById("emailerror").innerText = "User with this email address already exists. Please try with another.";
                        } else {
                          //alert("Something went wrong.Please try again")
                        }      
                    })
                    .catch((error) => {
                        // Error
                        if (error.response) {
                            //alert("There is error. Please try again.")
                        } else if (error.request) {
                            console.log(error.request)
                            //alert("No connection to server. Please check your internet connectivity.");
                        } else {
                            console.log('Error', error.message);
                            //alert("unknown error. please try again.")
                        }
                        console.log(error.config)
                });
      }       
    },
    gettitles : function () {
        this.$http.get(this.$api_url+this.lang, { headers: { 'Authorization': null } })
                    .then((response) => {
                    var title = response.data['title'];
                    this.title1msg = title.split(',')[0];
                    this.title2msg = title.split(',')[1];
                    this.details_en = response.data['details_en'];
                    var banner_image = response.data['file_en'];
                    var header = document.getElementsByClassName("header");
                    var image_url = this.$api_url+banner_image;
                    header[0].style.backgroundImage = "url("+image_url+")";
                    this.link_url = response.data['link_url'];
                    this.bannertitle = response.data['bannertitle'];
                    this.bannerdetail = response.data['bannerdetail'];
                    this.bannerlink_url = response.data['bannerlink_url'];
                    this.cup_image = this.$api_url+response.data['cup_image'];
                    })
                    .catch((error) => {
                        // Error
                        if (error.response) {
                            //alert("There is error. Please try again.")
                        } else if (error.request) {
                            console.log(error.request)
                            //alert("No connection to server. Please check your internet connectivity.");
                        } else {
                            // Something happened in setting up the request that triggered an Error
                            console.log('Error', error.message);
                            //alert("unknown error. please try again.")
                        }
                        console.log(error.config)
                }) 
      },
    getblogs : function () {
        this.$http.get(this.$api_url+this.lang+'/sub_services', { headers: { 'Authorization': null } })
                      .then((response) => {
                      console.log('the blog is ', response.data[0]);  
                      var reslength = response.data.length;
                      var i;
                      for(i = 0; i < reslength; i++) {
                         this.blogs.push({"id": i, "blog_title": response.data[i]['title'], "cat_id": '/legalitycountry?id='+response.data[i]['cat_id'], "cat_name": response.data[i]['cat_name']}); 
                      }
                      this.blog_title = response.data[0]['title'];
                      })
                      .catch((error) => {
                          // Error
                          if (error.response) {
                             // alert("There is error. Please try again.")
                          } else if (error.request) {
                              console.log(error.request)
                             // alert("No connection to server. Please check your internet connectivity.");
                          } else {
                              // Something happened in setting up the request that triggered an Error
                              console.log('Error', error.message);
                              //alert("unknown error. please try again.")
                          }
                          console.log(error.config)
                  })  
    },
    gettestimonials : function () {
      this.$http.get(this.$api_url+this.lang+'/blog/5', { headers: { 'Authorization': null } })
                      .then((response) => {
                      console.log('the testimonial is ', response.data);
                      var reslength = response.data.length;
                      var i;
                      for(i = 0; i < reslength; i++) {
                         this.testimonials.push({"id": i, "testi_title": response.data[i]['title'], "testi_details": response.data[i]['details_en'], "testi_photo": this.$api_url+response.data[i]['photo_file'], "testi_date": response.data[i]['date'], "logo_image": this.$api_url+response.data[i]['attach_file'], "topic_id": '/testimonials?id='+response.data[i]['topic_id']}); 
                      }
                      })
                      .catch((error) => {
                          // Error
                          if (error.response) {
                             // alert("There is error. Please try again.")
                          } else if (error.request) {
                              console.log(error.request)
                              //alert("No connection to server. Please check your internet connectivity.");
                          } else {
                              // Something happened in setting up the request that triggered an Error
                              console.log('Error', error.message);
                             // alert("unknown error. please try again.")
                          }
                          console.log(error.config)
                  })  
    },
    getpricingoptions : function () {
      this.$http.get(this.$api_url+this.lang+'/paymentsby', { headers: { 'Authorization': null } })
                      .then((response) => {
                      console.log('the payments is ', response.data);
                      var reslength = response.data.length;
                      var i;
                      for(i = 0; i < reslength; i++) {
                         this.pricingoptions.push({"id": i, "title_en": response.data[i]['title'], "price": response.data[i]['price'], "photo_file": this.$api_url+response.data[i]['photo_file'], "limit_signature_en": response.data[i]['limit_signature'], "anually_title_en": response.data[i]['anually_title'], "anually_price": response.data[i]['anually_price'], "anually_photo_file": response.data[i]['anually_photo_file'], "anually_limit_signature_en": response.data[i]['anually_limit_signature']}); 
                      }
                      })
                      .catch((error) => {
                          // Error
                          if (error.response) {
                              //alert("There is error. Please try again.")
                          } else if (error.request) {
                              console.log(error.request)
                              //alert("No connection to server. Please check your internet connectivity.");
                          } else {
                              // Something happened in setting up the request that triggered an Error
                              console.log('Error', error.message);
                             // alert("unknown error. please try again.")
                          }
                          console.log(error.config)
                  })  
    },
    openlogin: function () {
      document.getElementById("closesuccessmodalbutton").click();
      document.getElementById("loginlink").click();
    },
    loginuser: function (e) {
      e.preventDefault();
      var email = document.getElementById("email").value;
      var password = document.getElementById("pwd").value;
      const formdata = new FormData();
      formdata.append('email', email);
      formdata.append('password', password);
      this.$http.post(this.$api_url+'/loginapi', formdata, { headers: { 'Authorization': null } })
                  .then((response) => {
                  //alert(JSON.stringify(response.data));
                  if (response.data['comment']=='Login successfully.') {
                        document.getElementById("closeloginmodalbutton").click(); 
                        var username = response.data['username'];
                        var emailid = response.data['email'];
                        localStorage.setItem('name', username);
                        localStorage.setItem('email', emailid);
                        this.loginstatus();
                        this.loginusername = username;
                      } else if (response.data['comment']=='User email not exist.') {
                        document.getElementById("loginerror").innerText = "User with this email address doesn't exist.";
                      } else if (response.data['comment']=='Wrong password.') {
                        document.getElementById("loginerror").innerText = "Password is incorrect. Please try again";
                      } else {
                        alert("Something went wrong.Please try again")
                      }      
                  })
                  .catch((error) => {
                      // Error
                      if (error.response) {
                          //alert("There is error. Please try again.")
                      } else if (error.request) {
                          console.log(error.request)
                          //alert("No connection to server. Please check your internet connectivity.");
                      } else {
                          console.log('Error', error.message);
                          //alert("unknown error. please try again.")
                      }
                      console.log(error.config)
              });
    },
    loginstatus: function () {
      if (localStorage.getItem('email')){
          this.showlogged = !this.showlogged;
          }
    },
    logoutuser: function () {
      localStorage.removeItem('email');
      localStorage.removeItem('name');
      window.open('/', '_self');
    },
    changelang: function (langvalue) {
      this.lang = langvalue;
      localStorage.setItem('langselected', langvalue);
      location.reload(true);
    },
    getlanginputs: function () {
      if (localStorage.getItem('langselected')) {
        var lang = localStorage.getItem('langselected');
      } else {
        var lang = '/en';
      }
      this.$http.get(this.$api_url+'/static/i18n'+lang+'.json', { headers: { 'Authorization': null } })
                  .then((response) => {
                  //console.log('the lang inputs are here ', response.data);
                  this.authObj = response.data['auth'];
                  this.navObj = response.data['navigation'];
                  this.commonObj = response.data['common'];
                  this.indexObj = response.data['index'];
                  this.footerObj = response.data['footer'];
                 })
                  .catch((error) => {
                      // Error
                      if (error.response) {
                          //alert("There is error. Please try again.")
                      } else if (error.request) {
                          console.log(error.request)
                          //alert("No connection to server. Please check your internet connectivity.");
                      } else {
                          console.log('Error', error.message);
                          //alert("unknown error. please try again.")
                      }
                      console.log(error.config)
              });
    },
    updatelang: function () {
      if (localStorage.getItem('langselected')) {
      var langselected = localStorage.getItem('langselected');
      this.lang = langselected;
      if (langselected=='/jp') {
        document.getElementById("showlangspan").textContent = "æ—¥æœ¬èªž";
        document.getElementById("showlangflag").src = 'static/img/svg/japanese-flag.svg';
      }
      if (langselected=='/ar') {
        document.getElementById("showlangspan").textContent = "í•œêµ­ì–´";
        document.getElementById("showlangflag").src = 'static/img/svg/korean-flag.svg';
      }
      if (langselected=='/en') {
        document.getElementById("showlangspan").textContent = "English";
        document.getElementById("showlangflag").src = 'static/img/svg/england-flag.svg';
      }
      }
    }
  },
  mounted() {
         console.log('I am mounted');
         this.getlanginputs();        
         this.updatelang();
         this.loginstatus();
         this.gettitles();
         this.getblogs();
         this.gettestimonials();
         this.getpricingoptions();
         setTimeout(function () {
            new Swiper(".legalityGuide__items-wrap",{roundLengths:!0,autoHeight:!0,spaceBetween:50,grabCursor:!0,navigation:{nextEl:".swiper-button-next",prevEl:".swiper-button-prev"}})
            new Swiper(".testimonials__items-wrap",{slidesPerView:3,navigation:{nextEl:".testimonials__buttons-next",prevEl:".testimonials__buttons-prev"},breakpoints:{768:{slidesPerView:1,centerInsufficientSlides:!0},992:{slidesPerView:2}}});
        }, 2000);
  }
}
</script>
