<template>
<div class="page-wrapper">
    <div class="page-content-wrapper">

      <!-- START SUBSTRACTION FORM -->
      <button class="substraction__button" aria-label="Substraction"></button>
      <!-- /.substraction-button -->

      <div class="substraction__wrap">

        <div class="substraction__title">
          <div class="substraction__logo">
            <img src="static/img/logo-white.svg" alt="Coffee Sign">
          </div>
          <h3 class="substraction__h3">{{indexObj.hi_there}}</h3>
          <p class="substraction__text">
            {{indexObj.fill_for_agent}}
          </p>
        </div>
        <!-- /.substraction__title -->
    
        <form action="#" class="substraction__form">

          <label>
            <input class="form-input" type="text" name="text" :placeholder=indexObj.your_name>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#name"></use>
            </svg>
          </label>

          <label>
            <input class="form-input" type="email" name="email" :placeholder=commonObj.email>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#mail"></use>
            </svg>
          </label>

          <label>
            <textarea class="form-input textarea" name="message" :placeholder=indexObj.message></textarea>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#comment"></use>
            </svg>
          </label>

          <input type="submit" value="Start Chat" class="button-large">
        </form>
        <!-- /.substraction__form -->

        <a href="#" class="substraction__link">
          {{indexObj.we_are_by}} <b>{{indexObj.twak}}</b>
        </a>

      </div>
      <!-- /.substraction__wrap -->
      <!-- END SUBSTRACTION FORM -->

      <!-- START HEADER -->
      <header class="header header--legality header--legalityCountry">
        <div class="header__content header__content--legality container-width-medium">
  
          <!-- START HEADER TOP LINE -->
          <div class="header__topline">
  
            <div class="header__logo">
              <div class="header__logo-wrap">
                <a href="/">
                  <img src="static/img/logo-white.svg" alt="Coffee Sign">
                </a>
              </div>
            </div>
            <!-- /.header__logo -->
  
            <button class="header__mobile-button">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <!-- /.header__mobile-button -->
  
            <nav class="header__nav">
  
              <ul class="header__nav-links">
                <li><a href="/" class="hover-link">{{navObj.home}}</a></li>
                <li><a href="/casestudy" class="hover-link">{{navObj.case_study}}</a></li>
                <li><a href="/legality" class="active hover-link">{{navObj.legality_guide}}</a></li>
                <li><a href="/news" class="hover-link">{{navObj.news}}</a></li>
              </ul>
              <!-- /.header__nav-links -->
  
              <ul class="header__nav-actions">
                <li class="language__list-item">
                  <a class="language hover-link" href="#">
                    <img id="showlangflag" src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                    <span id="showlangspan">English</span>
                  </a>
                  <ul class="language__links">
                    <li class="active">
                      <a class="language__link" href="#" v-on:click="changelang('/en')">
                        <img src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                        <span>English</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/jp')">
                        <img src="static/img/svg/japanese-flag.svg" alt="Flag" class="flag">
                        <span>日本語</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/ar')">
                        <img src="static/img/svg/korean-flag.svg" alt="Flag" class="flag">
                        <span>한국어</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li><a class="login" href="#">{{authObj.login}}</a></li>
                <li><a class="signUp button-small" href="#">{{authObj.sign_up}}</a></li>
              </ul>
              <!-- /.header__nav-actions -->
  
            </nav>
            <!-- /.header__nav -->
  
          </div>
          <!-- /.header__topline -->
          <!-- END HEADER TOP LINE -->
  
          <!-- START HEADER MAIN -->
          <div class="header__main header__main--legalityCountry">
  
            <h1 class="header__h1 header__h1--legalityCountry">
              <img class="flag" src="static/img/svg/ukraine-flag.svg" alt="Ukraine">
              {{srv_title}}
            </h1>
            <!-- /.header__h1 -->
  
           <div class="header__subtitle header__subtitle--legalityCountry">
              {{legalityObj.general_information_only}}
            </div>
  
            <p class="header__subtitle-text--legalityCountry">
              Electronic Signature has been recognized by law in Ukraine since 2003, with the passage of The Law of Ukraine No. 852-IV "On Electronic Digital Signature."
            </p>
  
            <!-- START HEADER ITEMS -->
            <div class="header__items--legalityCountry">
  
              <div class="header__item--legalityCountry">
                <div class="name">
                  {{legalityObj.country_admissible}}
                  <div class="hintWrap">
  
                    <button class="hintButton">
                      <img src="static/img/svg/hint.svg" alt="Hint">
                    </button>
  
                    <div class="hintText">
                      <div class="title">Info Message</div>
                      <p class="text">
                        This is an example top alert. You can edit what u wish.
                      </p>
                      <button class="close">
                        <img src="static/img/svg/close-icon-small.svg" alt="Close">
                      </button>
                      <span class="progressLine"></span>
                    </div>
  
                  </div>
                </div>
                <div class="option">{{commonObj.yes}}</div>
              </div>
              <!-- /.header__item -->
  
              <div class="header__item--legalityCountry">
                <div class="name">
                  {{legalityObj.general_business_use}}
                  <div class="hintWrap">
  
                    <button class="hintButton">
                      <img src="static/img/svg/hint.svg" alt="Hint">
                    </button>
  
                    <div class="hintText">
                      <div class="title">Info Message</div>
                      <p class="text">
                        This is an example top alert. You can edit what u wish.
                      </p>
                      <button class="close">
                        <img src="static/img/svg/close-icon-small.svg" alt="Close">
                      </button>
                      <span class="progressLine"></span>
                    </div>
  
                  </div>
                </div>
                <div class="option">{{commonObj.yes}}</div>
              </div>
              <!-- /.header__item -->
              <div class="header__item--legalityCountry">
                <div class="name">
                  eSignature Legal Model
                  <div class="hintWrap">
  
                    <button class="hintButton">
                      <img src="static/img/svg/hint.svg" alt="Hint">
                    </button>
  
                    <div class="hintText">
                      <div class="title">Info Message</div>
                      <p class="text">
                        This is an example top alert. You can edit what u wish.
                      </p>
                      <button class="close">
                        <img src="static/img/svg/close-icon-small.svg" alt="Close">
                      </button>
                      <span class="progressLine"></span>
                    </div>
  
                  </div>
                </div>
                <div class="option">{{commonObj.tiered}}</div>
              </div>
              <!-- /.header__item -->
  
            </div>
            <!-- /.header__items -->
            <!-- END HEADER ITEMS -->
  
          </div>
          <!-- /.header__main -->
          <!-- END HEADER MAIN -->
  
        </div>
        <!-- /.header__content container-width-medium -->
      </header>
      <!-- /.header -->
      <!-- END HEADER -->
      <!-- START ADVANTAGES SECTION -->
      <section class="advantages advantages--legality">
        <div class="advantages__content container-width-medium">
  
          <div class="advantages__content-wrap advantages__content-wrap--leaglityCountry">
            <div class="advantages__title sectionTitle">
              <div class="subtitle">{{legalityObj.legality_in}} {{srv_country}}</div>
              <h2>{{legalityObj.whats_legality}}{{srv_country}}</h2>
            </div>
            <!-- START LEGALITY DESCRIPTION -->
            <div class="legality__description">
            <div v-html="srv_details"></div>
            </div>
          </div>
          <!-- /.advantages__content-wrap -->
  
        </div>
        <!-- /.advantages__content container-width-medium -->
      </section>
      <!-- /.advantages -->
      <!-- END ADVANTAGES SECTION -->
  
      <!-- START LEGALITY COUNTRY TEXT CONTENT -->
      <div v-html="srv_summary"></div>
      <!-- /.legalityCountryText -->
      <!-- END LEGALITY COUNTRY TEXT CONTENT -->
      <!-- START SIMPLIFY SECTION -->
      <section class="simplify">
        <div class="simplify__content container-width-medium">
          <div class="simplify__content-wrap">
            <div class="simplify__title sectionTitle">
              <h2>{{indexObj.simplify_document_signature}}</h2>
              <div class="subtitle">{{indexObj.all_sign_up}}</div>
            </div>
            <!-- /.simplify__title -->
            <div class="simplify__links">
              <a href="#" class="button-transparent">{{authObj.login}}</a>
              <a href="#" class="button-large">{{authObj.get_started_now}}</a>
            </div>
            <!-- /.simplify__links -->
          </div>
          <!-- /.simplify__content-wrap -->
        </div>
        <!-- /.simplify__content container-width-medium -->
      </section>
      <!-- /.simplify -->
      <!-- END SIMPLIFY SECTION -->
      <!-- START FOOTER -->
      <footer class="footer">
        <div class="footer__content container-width-medium">
          <div class="footer__topline">
            <div class="footer__topline-logo">
              <img src="img/logo-dark.svg" alt="Coffee Sign">
            </div>
            <!-- /.footer__topline-logo -->
            <ul class="footer__links">
              <li>
                <a href="/">{{navObj.home}}</a>
              </li>
              <li>
                <a href="/casestudy">{{navObj.case_study}}</a>
              </li>
              <li>
                <a href="/legality">{{navObj.legality_guide}}</a>
              </li>
              <li>
                <a href="/news">{{navObj.news}}</a>
              </li>
            </ul>
            <!-- /.footer__links -->
          </div>
          <!-- /.footer__topline -->
          <div class="footer__bottomline">
            <div class="footer__bottomline-text">
              <div class="footer__bottomline-img">
                <img src="static/img/svg/footer-icon.svg" alt="Contacts">
              </div>
              <div class="footer__bottomline-contacts">
                <div class="title">{{footerObj.want_to_say_hi}}</div>
                <div class="contacts">
                  {{footerObj.mail_us_at}}
                  <a href="mailto:support@coffeesign.com">support@coffeesign.com</a>
                </div>
              </div>
            </div>
            <!-- /.footer__bottomline-text -->
            <ul class="footer__sotial">
              <li class="footer__sotial-title">
                {{footerObj.follow_on_social_media}}
              </li>
              <li>
                <a href="#" aria-label="Facebook">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Twitter">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Linkedin">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <!-- /.footer__sotial -->
          </div>
          <!-- /.footer__bottomline -->
        </div>
        <!-- /.footer__content container-width-medium -->
      </footer>
      <!-- /.footer -->
      <!-- END FOOTER -->
    </div>
    <!-- /.page-content-wrapper -->
  </div>
  <!-- /.page-wrapper -->
</template>

<script>
export default {
  name: 'LegalityCountry',
  props: ['routeid'],
  data () {
    return {
      srv_country: '',
      srv_title: '',
      srv_details: '',
      srv_photo: '',
      srv_banner: '',
      srv_summary: '',
      lang: '/en',
      navObj: {},
      authObj: {},
      casestudyObj: {},
      footerObj: {},
      legalityObj: {},
      indexObj: {},
      commonObj: {}
    }
  },
  watch: {
    'this.routeid': function (id) {
      this.getcountryservice()
    }
  },
  created: function () {
    this.getcountryservice()
  },
  methods: {
    getcountryservice : function () {
      this.$http.get(this.$api_url+this.lang+'/country/'+this.routeid, { headers: { 'Authorization': null } })
                      .then((response) => {
                      console.log('the country service is ', response.data);
                        this.srv_country = response.data[0]['cat_name'];
                        this.srv_title = response.data[0]['title'];
                        this.srv_details = response.data[0]['details_en'];
                        this.srv_photo = response.data[0]['photo_file'];
                        this.srv_banner = response.data[0]['bannertext_en'];
                        this.srv_summary = response.data[0]['summary_en'];
                      })
                      .catch((error) => {
                          // Error
                          if (error.response) {
                              alert("There is error. Please try again.")
                          } else if (error.request) {
                              console.log(error.request)
                              alert("No connection to server. Please check your internet connectivity.");
                          } else {
                              // Something happened in setting up the request that triggered an Error
                              console.log('Error', error.message);
                              alert("unknown error. please try again.")
                          }
                          console.log(error.config)
                  })  
    },
    changelang: function (langvalue) {
      this.lang = langvalue;
      localStorage.setItem('langselected', langvalue);
      location.reload(true);
    },
    getlanginputs: function () {
      if (localStorage.getItem('langselected')) {
        var lang = localStorage.getItem('langselected');
      } else {
        var lang = '/en';
      }
      this.$http.get(this.$api_url+'/static/i18n'+lang+'.json', { headers: { 'Authorization': null } })
                  .then((response) => {
                  //console.log('the lang inputs are here ', response.data);
                  this.authObj = response.data['auth'];
                  this.navObj = response.data['navigation'];
                  this.commonObj = response.data['common'];
                  this.indexObj = response.data['index'];
                  this.casestudyObj = response.data['case_study'];
                  this.footerObj = response.data['footer'];
                  this.legalityObj = response.data['legality'];
                 })
                  .catch((error) => {
                      // Error
                      if (error.response) {
                          //alert("There is error. Please try again.")
                      } else if (error.request) {
                          console.log(error.request)
                          //alert("No connection to server. Please check your internet connectivity.");
                      } else {
                          console.log('Error', error.message);
                          //alert("unknown error. please try again.")
                      }
                      console.log(error.config)
              });
    },
    updatelang: function () {
      if (localStorage.getItem('langselected')) {
      var langselected = localStorage.getItem('langselected');
      this.lang = langselected;
      if (langselected=='/jp') {
        document.getElementById("showlangspan").textContent = "æ—¥æœ¬èªž";
        document.getElementById("showlangflag").src = 'static/img/svg/japanese-flag.svg';
      }
      if (langselected=='/ar') {
        document.getElementById("showlangspan").textContent = "í•œêµ­ì–´";
        document.getElementById("showlangflag").src = 'static/img/svg/korean-flag.svg';
      }
      if (langselected=='/en') {
        document.getElementById("showlangspan").textContent = "English";
        document.getElementById("showlangflag").src = 'static/img/svg/england-flag.svg';
      }
      }
    }
  },
  mounted() {
    this.getlanginputs();
    this.updatelang();
    this.getcountryservice();
    var t = document.querySelector(".language__list-item");
    t && t.addEventListener("click", function(e) {
        if (e.target.closest(".language")) {
            e.preventDefault();
            var t = document.querySelector(".language"),
                a = document.querySelector(".language__links");
            if (a.classList.contains("active")) return a.classList.add("leave-active"), void setTimeout(function() {
                a.classList.remove("active", "leave-active"), t.classList.remove("active")
            }, 300);
            a.classList.add("pre-active"), t.classList.add("active"), setTimeout(function() {
                a.classList.add("active"), a.classList.remove("pre-active")
            }, 10)
        }
    });
  }
}
</script>