<template>
<div class="page-wrapper">
    <div class="page-content-wrapper">

      <!-- START SUBSTRACTION FORM -->
      <button class="substraction__button" aria-label="Substraction"></button>
      <!-- /.substraction-button -->

      <div class="substraction__wrap">

        <div class="substraction__title">
          <div class="substraction__logo">
            <img src="static/img/logo-white.svg" alt="Coffee Sign">
          </div>
          <h3 class="substraction__h3">{{indexObj.hi_there}}</h3>
          <p class="substraction__text">
            {{indexObj.fill_for_agent}}
          </p>
        </div>
        <!-- /.substraction__title -->
    
        <form action="#" class="substraction__form">

          <label>
            <input class="form-input" type="text" name="text" :placeholder=indexObj.your_name>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#name"></use>
            </svg>
          </label>

          <label>
            <input class="form-input" type="email" name="email" :placeholder=commonObj.email>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#mail"></use>
            </svg>
          </label>

          <label>
            <textarea class="form-input textarea" name="message" :placeholder=indexObj.message></textarea>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#comment"></use>
            </svg>
          </label>

          <input type="submit" value="Start Chat" class="button-large">
        </form>
        <!-- /.substraction__form -->

        <a href="#" class="substraction__link">
          {{indexObj.we_are_by}} <b>{{indexObj.twak}}</b>
        </a>

      </div>
      <!-- /.substraction__wrap -->
      <!-- END SUBSTRACTION FORM -->

      <!-- START HEADER -->
      <header class="header header--legality">
        <div class="header__content header__content--legality container-width-medium">
  
          <!-- START HEADER TOP LINE -->
          <div class="header__topline">
  
            <div class="header__logo">
              <div class="header__logo-wrap">
                <a href="/">
                  <img src="static/img/logo-white.svg" alt="Coffee Sign">
                </a>
              </div>
            </div>
            <!-- /.header__logo -->
  
            <button class="header__mobile-button">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <!-- /.header__mobile-button -->
  
            <nav class="header__nav">
  
              <ul class="header__nav-links">
                <li><a href="/" class="hover-link">{{navObj.home}}</a></li>
                <li><a href="/casestudy" class="hover-link">{{navObj.case_study}}</a></li>
                <li><a href="/legality" class="active hover-link">{{navObj.legality_guide}}</a></li>
                <li><a href="/news" class="hover-link">{{navObj.news}}</a></li>
              </ul>
              <!-- /.header__nav-links -->
  
              <ul class="header__nav-actions">
                <li class="language__list-item">
                  <a class="language hover-link" href="#">
                    <img id="showlangflag" src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                    <span id="showlangspan">English</span>
                  </a>
                  <ul class="language__links">
                    <li class="active">
                      <a class="language__link" href="#" v-on:click="changelang('/en')">
                        <img src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                        <span>English</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/jp')">
                        <img src="static/img/svg/japanese-flag.svg" alt="Flag" class="flag">
                        <span>日本語</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/ar')">
                        <img src="static/img/svg/korean-flag.svg" alt="Flag" class="flag">
                        <span>한국어</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li v-if="showlogged"><span class="text-danger"></span></li>
                <li v-else><a class="login" data-toggle="modal" href="#" id="loginlink">{{authObj.login}}</a></li>
                <li v-if="showlogged"><button class="btn btn-primary" v-on:click="logoutuser">Log Out</button></li>
                <li v-else><a class="signUp button-small" data-toggle="modal" href="#">{{authObj.sign_up}}</a></li>
              </ul>
              <!-- /.header__nav-actions -->
  
            </nav>
            <!-- /.header__nav -->
  
          </div>
          <!-- /.header__topline -->
          <!-- END HEADER TOP LINE -->
  
          <!-- START HEADER MAIN -->
          <div class="header__main header__main--legality">
  
            <h1 class="header__h1 header__h1--legality">{{indexObj.esignature_legality_guide}}</h1>
            <!-- /.header__h1 -->
  
            <div class="header__subtitle header__subtitle--legality">
              {{legalityObj.learn_fact_about}}
            </div>
  
            <div class="header__form-wrap--legality">
  
              <form action="#" class="header__form--legality">
                <label>
                  <input class="form-input" type="text" :placeholder=legalityObj.please_select_country>
                </label>
                <button class="search">
                  <img src="static/img/svg/search-icon.svg" alt="Search">
                </button>
              </form>
              <!-- /.header__form--legality -->
  
              <!-- Here you need to add class (active) to the list became visible -->
              <ul class="header__form-list">
                <li v-for="x in legalservices" v-bind:key="x.id">
                  <a :href="x.cat_id" class="country">{{x.cat_name}}</a>
                </li>
              </ul>
              <!-- /.header__form-list -->
            </div>
            <!-- /.header__form-wrap--legality -->
  
            <a href="/legalitycountry" class="header__main-button header__main-button--legality">
              <img class="flag" src="static/img/svg/ukraine-flag.svg" alt="Ukraine">
              <span>{{legalityObj.esignature_legality_in}} Ukraine</span>
              <img class="arrow" src="static/img/svg/arrow-white.svg" alt="Arrow">
            </a>
  
          </div>
          <!-- /.header__main -->
          <!-- END HEADER MAIN -->
  
        </div>
        <!-- /.header__content container-width-medium -->
      </header>
      <!-- /.header -->
      <!-- END HEADER -->
  
      <!-- START ADVANTAGES SECTION -->
      <section class="advantages advantages--legality">
        <div class="advantages__content container-width-medium">
  
          <div class="advantages__content-wrap legality__content-wrap">
            <div class="advantages__title sectionTitle">
              <div class="subtitle">{{legalityObj.about_guide}}</div>
              <h2>{{legalityObj.what_esignature}}</h2>
            </div>
            <!-- /.advantage__title -->
  
            <!-- START LEGALITY DESCRIPTION -->
            <div class="legality__description">
  
              <p>
                {{legalityObj.coffeesign_practice}}
              </p>
  
              <p>
                {{legalityObj.legal_analysis}}
              </p>
  
            </div>
            <!-- /.legality__description -->
            <!-- END LEGALITY DESCRIPTION -->
          </div>
          <!-- /.advantages__content-wrap -->
  
        </div>
        <!-- /.advantages__content container-width-medium -->
      </section>
      <!-- /.advantages -->
      <!-- END ADVANTAGES SECTION -->
  
      <!-- START FACTS SECTION -->
      <section class="facts">
        <div class="facts__content container-width-medium">
  
          <div class="facts__title sectionTitle">
            <h2>{{legalityObj.esignature_fact}}</h2>
            <div class="subtitle">{{legalityObj.interesting_fact}}</div>
          </div>
          <!-- /.advantage__title -->
  
          <!-- START FACTS ITEMS -->
          <div class="facts__items">
  
            <div class="facts__item">
              <div class="facts__item-img">
                <img src="static/img/facts/item-1.svg" alt="Item 1">
              </div>
              <h3 class="itemTitle">{{legalityObj.secure_message}}</h3>
              <p class="facts__item-text">
                {{legalityObj.secure_message_description}}
              </p>
            </div>
            <!-- /.facts__item -->
  
            <div class="facts__item">
              <div class="facts__item-img">
                <img src="static/img/facts/item-2.svg" alt="Item 2">
              </div>
              <h3 class="itemTitle">{{legalityObj.tech_and_solution}}</h3>
              <p class="facts__item-text">
                {{legalityObj.tech_and_solution_description}}
              </p>
            </div>
            <!-- /.facts__item -->
  
            <div class="facts__item">
              <div class="facts__item-img">
                <img src="static/img/facts/item-3.svg" alt="Item 3">
              </div>
              <h3 class="itemTitle">{{legalityObj.wet_not_reliable}}</h3>
              <p class="facts__item-text">
                {{legalityObj.wet_not_reliable_description}}
              </p>
            </div>
            <!-- /.facts__item -->
  
            <div class="facts__item">
              <div class="facts__item-img">
                <img src="static/img/facts/item-4.svg" alt="Item 4">
              </div>
              <h3 class="itemTitle">{{legalityObj.celebrity_autograph}}</h3>
              <p class="facts__item-text">
                {{legalityObj.celebrity_autograph_description}}
              </p>
            </div>
            <!-- /.facts__item -->
  
            <div class="facts__item">
              <div class="facts__item-img">
                <img src="static/img/facts/item-5.svg" alt="Item 5">
              </div>
              <h3 class="itemTitle">{{legalityObj.dismissed_agent}}</h3>
              <p class="facts__item-text">
                {{legalityObj.dismissed_agent_description}}
              </p>
            </div>
            <!-- /.facts__item -->
  
            <div class="facts__item">
              <div class="facts__item-img">
                <img src="static/img/facts/item-6.svg" alt="Item 6">
              </div>
              <h3 class="itemTitle">{{legalityObj.uncitral_law}}</h3>
              <p class="facts__item-text">
                {{legalityObj.uncitral_law_description}}
              </p>
            </div>
            <!-- /.facts__item -->
  
          </div>
          <!-- /.facts__items -->
          <!-- END FACTS ITEMS -->
  
        </div>
        <!-- /.facts__content container-width-medium -->
      </section>
      <!-- /.facts -->
      <!-- END FACTS SECTION -->
  
      <!-- START SIMPLIFY SECTION -->
      <section class="simplify">
        <div class="simplify__content container-width-medium">
  
          <div class="simplify__content-wrap">
            <div class="simplify__title sectionTitle">
              <h2>{{indexObj.simplify_document_signature}}</h2>
              <div class="subtitle">{{indexObj.all_sign_up}}</div>
            </div>
            <!-- /.simplify__title -->
  
            <div class="simplify__links">
              <a href="#" style="text-decoration: none;cursor: none;" class="button-transparent" v-if="showlogged">Logged</a>
              <a data-toggle="modal" href="#" class="button-transparent" v-else>{{authObj.sign_in}}</a>
              <a href="#" class="button-large">{{authObj.get_started_now}}</a>
            </div>
            <!-- /.simplify__links -->
          </div>
          <!-- /.simplify__content-wrap -->
  
        </div>
        <!-- /.simplify__content container-width-medium -->
      </section>
      <!-- /.simplify -->
      <!-- END SIMPLIFY SECTION -->
  
      <!-- START FOOTER -->
      <footer class="footer">
        <div class="footer__content container-width-medium">
  
          <div class="footer__topline">
            <div class="footer__topline-logo">
              <img src="static/img/logo-dark.svg" alt="Coffee Sign">
            </div>
            <!-- /.footer__topline-logo -->
  
            <ul class="footer__links">
             <li>
                <a href="/">{{navObj.home}}</a>
              </li>
              <li>
                <a href="/casestudy">{{navObj.case_study}}</a>
              </li>
              <li>
                <a href="/legality">{{navObj.legality_guide}}</a>
              </li>
              <li>
                <a href="/news">{{navObj.news}}</a>
              </li>
            </ul>
            <!-- /.footer__links -->
          </div>
          <!-- /.footer__topline -->
  
          <div class="footer__bottomline">
            <div class="footer__bottomline-text">
              <div class="footer__bottomline-img">
                <img src="static/img/svg/footer-icon.svg" alt="Contacts">
              </div>
              <div class="footer__bottomline-contacts">
                <div class="title">{{footerObj.want_to_say_hi}}</div>
                <div class="contacts">
                  {{footerObj.mail_us_at}}
                  <a href="mailto:support@coffeesign.com">support@coffeesign.com</a>
                </div>
              </div>
            </div>
            <!-- /.footer__bottomline-text -->
  
            <ul class="footer__sotial">
              <li class="footer__sotial-title">
                {{footerObj.follow_on_social_media}}
              </li>
              <li>
                <a href="#" aria-label="Facebook">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Twitter">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Linkedin">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <!-- /.footer__sotial -->
          </div>
          <!-- /.footer__bottomline -->
  
        </div>
        <!-- /.footer__content container-width-medium -->
      </footer>
      <!-- /.footer -->
      <!-- END FOOTER -->

    </div>
    <!-- /.page-content-wrapper -->
    <!-- The Modal for Login Form 
<div class="modal" id="LoginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <!-- Modal body 
      <div class="modal-body">
        <form action="">
        <div class="form-group">
          <label for="email">Email Address:</label>
          <input type="email" class="form-control" id="email" required>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" required>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form> 
      </div>
    </div>
  </div>
</div>
<!-- The Modal End 
<!-- The Modal for SignUp Form 
<div class="modal" id="SignUpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">SignUp</h4>
      </div>
      <!-- Modal body 
      <div class="modal-body">
        <form action="">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" required>
          <span id="nameerror" class="text-danger"></span>
        </div>  
        <div class="form-group">
          <label for="emailaddress">Email Address:</label>
          <input type="email" class="form-control" id="emailaddress" required>
          <span id="emailerror" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" required>
          <span id="passworderror" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label for="cpassword">Confirm Password:</label>
          <input type="password" class="form-control" id="cpassword" required>
          <span id="cpassworderror" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" v-on:click="submitsignup">Submit</button>
        </form> 
      </div>
    </div>
  </div>
</div>
<!-- The Modal End 
<!-- The Modal for SuccessFul SignUp Message 
<div class="modal" id="SuccessModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="closesuccessmodalbutton">&times;</button>
        <h4 class="modal-title">Registration</h4>
      </div>
      <!-- Modal body
      <div class="modal-body">
        <p class="text-center">Your account is successfully registered.<br><br>
          <button class="btn btn-success" v-on:click="openlogin">Login Now</button>
        </p>   
      </div>
    </div>
  </div>
</div>
<!-- hidden button to trigger modal -->
<button data-toggle="modal" data-target="#SuccessModal" id="successmodalbutton" style="display: none;"></button>
<!-- The Modal End --> 
  </div>
  <!-- /.page-wrapper -->
</template>

<script>
export default {
  name: 'Legality',
  data () {
    return {
      legalservices: [],
      showlogged: false,
      loginusername: '',
      lang: '/en',
      navObj: {},
      authObj: {},
      casestudyObj: {},
      footerObj: {},
      legalityObj: {},
      indexObj: {},
      commonObj: {}
    }
  },
  methods: {
      submitsignup: function (e) {
      e.preventDefault();
      var name = document.getElementById("name").value;
      var email = document.getElementById("emailaddress").value;
      var pass1 = document.getElementById("password").value;
      var pass2 = document.getElementById("cpassword").value;
      var error = 0;
      var letters = /^[a-zA-Z][a-zA-Z\s]*$/;
              if (!name.match(letters)) {
                document.getElementById("nameerror").innerText = "Name may contain only alphabets.";
                error = 1;
              } else {
                document.getElementById("nameerror").innerText = "";
              }
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (!re.test(email)) {
        document.getElementById("emailerror").innerText = "Please type a valid email address.";
        error = 1;
      } else {
              document.getElementById("emailerror").innerText = "";
             }        
      if (pass1!=pass2) {
            document.getElementById("cpassworderror").innerText = "Password not matched!!";
            error = 1;
            } else {
              document.getElementById("cpassworderror").innerText = "";
            }
      if (pass1.length<6) {
          document.getElementById("passworderror").innerText = "Please type password of atleast six characters!";
          error = 1;
      } else {
          document.getElementById("passworderror").innerText = "";
      }
      if (error==0) {
        const formdata = new FormData();
        formdata.append('name', name);
        formdata.append('email', email);
        formdata.append('password', pass2);
        this.$http.post(this.$api_url+'/signupapi', formdata, { headers: { 'Authorization': null } })
                    .then((response) => {
                    //alert(JSON.stringify(response.data));
                    if (response.data['comment']=='Register successfully.') {
                      document.getElementById("signupmodalbutton").click();  
                      document.getElementById("successmodalbutton").click();
                        } else if (response.data['comment']=='User already exist.') {
                          document.getElementById("emailerror").innerText = "User with this email address already exists. Please try with another.";
                        } else {
                          //alert("Something went wrong.Please try again")
                        }      
                    })
                    .catch((error) => {
                        // Error
                        if (error.response) {
                            // The request was made and the server responded with a status code
                            // that falls out of the range of 2xx
                            // console.log(error.response.data);
                            // console.log(error.response.status);
                            // console.log(error.response.headers);
                            //alert("There is error. Please try again.")
                        } else if (error.request) {
                            // The request was made but no response was received
                            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
                            // http.ClientRequest in node.js
                            console.log(error.request)
                            //alert("No connection to server. Please check your internet connectivity.");
                        } else {
                            // Something happened in setting up the request that triggered an Error
                            console.log('Error', error.message);
                            //alert("unknown error. please try again.")
                        }
                        console.log(error.config)
                });
      }       
    },
    getlegalservices : function () {
      this.$http.get(this.$api_url+this.lang+'/country', { headers: { 'Authorization': null } })
                      .then((response) => {
                      console.log('the legal services are ', response.data);
                      var reslength = response.data.length;
                      var i;
                      for(i = 0; i < reslength; i++) {
                         this.legalservices.push({"id": i, "topic_id": response.data[i]['topic_id'], "cat_id": '/legalitycountry?id='+response.data[i]['cat_id'], "cat_name": response.data[i]['cat_name'], "photo": this.$api_url+response.data[i]['photo_file'], "title": response.data[i]['title'], "logo_image": this.$api_url+response.data[i]['attach_file'], "details_en": response.data[i]['details_en'], "date": response.data[i]['date']}); 
                      }
                      })
                      .catch((error) => {
                          // Error
                          if (error.response) {
                              //alert("There is error. Please try again.")
                          } else if (error.request) {
                              console.log(error.request)
                              //alert("No connection to server. Please check your internet connectivity.");
                          } else {
                              // Something happened in setting up the request that triggered an Error
                              console.log('Error', error.message);
                              //alert("unknown error. please try again.")
                          }
                          console.log(error.config)
                  })  
    },
    openlogin: function () {
      document.getElementById("closesuccessmodalbutton").click();
      document.getElementById("loginlink").click();
    },
    loginuser: function (e) {
      e.preventDefault();
      var email = document.getElementById("email").value;
      var password = document.getElementById("pwd").value;
      const formdata = new FormData();
      formdata.append('email', email);
      formdata.append('password', password);
      this.$http.post(this.$api_url+'/loginapi', formdata, { headers: { 'Authorization': null } })
                  .then((response) => {
                  //alert(JSON.stringify(response.data));
                  if (response.data['comment']=='Login successfully.') {
                        document.getElementById("closeloginmodalbutton").click(); 
                        var username = response.data['username'];
                        var emailid = response.data['email'];
                        localStorage.setItem('name', username);
                        localStorage.setItem('email', emailid);
                        this.loginstatus();
                        this.loginusername = username;
                      } else if (response.data['comment']=='User email not exist.') {
                        document.getElementById("loginerror").innerText = "User with this email address doesn't exist.";
                      } else if (response.data['comment']=='Wrong password.') {
                        document.getElementById("loginerror").innerText = "Password is incorrect. Please try again";
                      } else {
                        //alert("Something went wrong.Please try again")
                      }      
                  })
                  .catch((error) => {
                      // Error
                      if (error.response) {
                          //alert("There is error. Please try again.")
                      } else if (error.request) {
                          console.log(error.request)
                          //alert("No connection to server. Please check your internet connectivity.");
                      } else {
                          console.log('Error', error.message);
                          //alert("unknown error. please try again.")
                      }
                      console.log(error.config)
              });
    },
    loginstatus: function () {
      if (localStorage.getItem('email')){
          this.showlogged = !this.showlogged;
          }
    },
    logoutuser: function () {
      localStorage.removeItem('email');
      localStorage.removeItem('name');
      window.open('/', '_self');
    },
    changelang: function (langvalue) {
      this.lang = langvalue;
      localStorage.setItem('langselected', langvalue);
      location.reload(true);
    },
    getlanginputs: function () {
      if (localStorage.getItem('langselected')) {
        var lang = localStorage.getItem('langselected');
      } else {
        var lang = '/en';
      }
      this.$http.get(this.$api_url+'/static/i18n'+lang+'.json', { headers: { 'Authorization': null } })
                  .then((response) => {
                  //console.log('the lang inputs are here ', response.data);
                  this.authObj = response.data['auth'];
                  this.navObj = response.data['navigation'];
                  this.commonObj = response.data['common'];
                  this.indexObj = response.data['index'];
                  this.casestudyObj = response.data['case_study'];
                  this.footerObj = response.data['footer'];
                  this.legalityObj = response.data['legality'];
                 })
                  .catch((error) => {
                      // Error
                      if (error.response) {
                          //alert("There is error. Please try again.")
                      } else if (error.request) {
                          console.log(error.request)
                          //alert("No connection to server. Please check your internet connectivity.");
                      } else {
                          console.log('Error', error.message);
                          //alert("unknown error. please try again.")
                      }
                      console.log(error.config)
              });
    },
    updatelang: function () {
      if (localStorage.getItem('langselected')) {
      var langselected = localStorage.getItem('langselected');
      this.lang = langselected;
      if (langselected=='/jp') {
        document.getElementById("showlangspan").textContent = "æ—¥æœ¬èªž";
        document.getElementById("showlangflag").src = 'static/img/svg/japanese-flag.svg';
      }
      if (langselected=='/ar') {
        document.getElementById("showlangspan").textContent = "í•œêµ­ì–´";
        document.getElementById("showlangflag").src = 'static/img/svg/korean-flag.svg';
      }
      if (langselected=='/en') {
        document.getElementById("showlangspan").textContent = "English";
        document.getElementById("showlangflag").src = 'static/img/svg/england-flag.svg';
      }
      }
    }
  },
  mounted() {
    this.getlanginputs();
    this.updatelang();
    this.loginstatus();
    this.getlegalservices();
    setTimeout(function () {
      var l = document.querySelector(".header__form--legality label .form-input"),
      d = document.querySelector(".header__form-list");
      l && (l.addEventListener("focus", function() {
          this.parentNode.classList.add("active"), document.querySelector(".header__form-list").classList.add("active")
      }), l.addEventListener("blur", function() {
          var e = this;
          setTimeout(function() {
              e.parentNode.classList.remove("active"), document.querySelector(".header__form-list").classList.remove("active")
          }, 200)
      }), d.addEventListener("click", function(e) {
          var t = e.target;
          if (t.closest(".header__form-list > li")) {
              var a = t.innerText;
              this.parentNode.querySelector(".form-input").value = a
          }
      }));
    }, 1000);
    var t = document.querySelector(".language__list-item");
    t && t.addEventListener("click", function(e) {
        if (e.target.closest(".language")) {
            e.preventDefault();
            var t = document.querySelector(".language"),
                a = document.querySelector(".language__links");
            if (a.classList.contains("active")) return a.classList.add("leave-active"), void setTimeout(function() {
                a.classList.remove("active", "leave-active"), t.classList.remove("active")
            }, 300);
            a.classList.add("pre-active"), t.classList.add("active"), setTimeout(function() {
                a.classList.add("active"), a.classList.remove("pre-active")
            }, 10)
        }
    });
  }  
}
</script>