<template>
<div class="page-wrapper">
    <div class="page-content-wrapper">

      <!-- START SUBSTRACTION FORM -->
      <button class="substraction__button" aria-label="Substraction"></button>
      <!-- /.substraction-button -->

      <div class="substraction__wrap">

        <div class="substraction__title">
          <div class="substraction__logo">
            <img src="static/img/logo-white.svg" alt="Coffee Sign">
          </div>
          <h3 class="substraction__h3">{{indexObj.hi_there}}</h3>
          <p class="substraction__text">
             {{indexObj.fill_for_agent}}
          </p>
        </div>
        <!-- /.substraction__title -->
    
        <form action="#" class="substraction__form">

          <label>
            <input class="form-input" type="text" name="text" :placeholder=indexObj.your_name>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#name"></use>
            </svg>
          </label>

          <label>
            <input class="form-input" type="email" name="email" :placeholder=commonObj.email>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#mail"></use>
            </svg>
          </label>

          <label>
            <textarea class="form-input textarea" name="message" :placeholder=indexObj.message></textarea>
            <svg class="substraction__icon">
              <use xlink:href="static/img/svg/sprite-substraction-icon.svg#comment"></use>
            </svg>
          </label>

          <input type="submit" value="Start Chat" class="button-large">
        </form>
        <!-- /.substraction__form -->

        <a href="#" class="substraction__link">
          {{indexObj.we_are_by}} <b>{{indexObj.twak}}</b>
        </a>

      </div>
      <!-- /.substraction__wrap -->
      <!-- END SUBSTRACTION FORM -->

      <!-- START HEADER -->
      <header class="header header--caseStudy">
        <div class="header__content container-width-medium">
  
          <!-- START HEADER TOP LINE -->
          <div class="header__topline header__topline--caseStudy">
  
            <div class="header__logo header__logo--caseStudy">
              <div class="header__logo-wrap">
                <a href="/">
                  <img src="static/img/logo-dark.svg" alt="Coffee Sign">
                </a>
              </div>
            </div>
            <!-- /.header__logo -->
  
            <button class="header__mobile-button">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <!-- /.header__mobile-button -->
  
            <nav class="header__nav">
  
              <ul class="header__nav-links header__nav-links--caseStudy">
                <li><a href="/" class="hover-link">{{navObj.home}}</a></li>
                <li><a href="/casestudy" class="hover-link">{{navObj.case_study}}</a></li>
                <li><a href="/legality" class="hover-link">{{navObj.legality_guide}}</a></li>
                <li><a href="/news" class="active hover-link">{{navObj.news}}</a></li>
              </ul>
              <!-- /.header__nav-links -->
  
              <ul class="header__nav-actions header__nav-actions--caseStudy">
                <li class="language__list-item">
                  <a class="language hover-link" href="#">
                    <img id="showlangflag" src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                    <span id="showlangspan">English</span>
                  </a>
                  <ul class="language__links">
                    <li class="active">
                      <a class="language__link" href="#" v-on:click="changelang('/en')">
                        <img src="static/img/svg/england-flag.svg" alt="Flag" class="flag">
                        <span>English</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/jp')">
                        <img src="static/img/svg/japanese-flag.svg" alt="Flag" class="flag">
                        <span>日本語</span>
                      </a>
                    </li>
                    <li>
                      <a class="language__link" href="#" v-on:click="changelang('/ar')">
                        <img src="static/img/svg/korean-flag.svg" alt="Flag" class="flag">
                        <span>한국어</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li v-if="showlogged"><span class="text-danger"></span></li>
                <li v-else><a class="login" data-toggle="modal" href="#" id="loginlink">{{authObj.login}}</a></li>
                <li v-if="showlogged"><button class="btn btn-primary" v-on:click="logoutuser">Log Out</button></li>
                <li v-else><a class="signUp button-small" data-toggle="modal" href="#">{{authObj.sign_up}}</a></li>
              </ul>
              <!-- /.header__nav-actions -->
  
            </nav>
            <!-- /.header__nav -->
  
          </div>
          <!-- /.header__topline -->
          <!-- END HEADER TOP LINE -->
  
          <!-- START HEADER MAIN -->
          <div class="header__main header__main--caseStudy">
  
            <div class="header__title-wrap header__title-wrap--news">
              <h1 class="header__h1 header__h1--caseStudy">The CoffeeSign News</h1>
              <!-- /.header__h1 -->

              <div class="header__subtitle header__subtitle--caseStudy header__subtitle--news">
                Lorem ipsum dolor sit amet, est ex adhuc labores
              </div>
            </div>
            <!-- /.header__title-wrap -->
  
          </div>
          <!-- /.header__main -->
          <!-- END HEADER MAIN -->
  
        </div>
        <!-- /.header__content container-width-medium -->
      </header>
      <!-- /.header -->
      <!-- END HEADER -->
  
      <!-- START CONTRACTS SECTION -->
      <section class="contracts news">
        <div class="contracts__content container-width-medium">
  
          <div class="contracts__banner news__banner">
            <img src="static/img/contracts/contracts-banner.jpg" alt="Banner" class="contracts__banner-img">
  
            <div class="contracts__banner-content">
              <div class="contracts__banner-date news__banner-date">{{lastnews_date}}</div>
              <a :href=lastnews_id class="contracts__banner-link hover-link">{{lastnews_title}}</a>
              <p class="contracts__banner-subtitle">
                {{lastnews_content | truncate(100, '...')}}
              </p>
            </div>
            <!-- /.contracts__banner-content -->
          </div>
          <!-- /.contracts__banner -->
  
          <!-- START CONTRACTS ITEMS -->
          <div class="contracts__items news__items">
  
            <div class="contracts__item" v-for="x in news" v-bind:key="x.id">
              <div class="contracts__item-img">
                <a :href="x.topic_id">
                  <img :src="x.news_photo" alt="Item 1">
                </a>
              </div>
  
              <div class="contracts__item-text">
                <div class="date">{{ x.news_date }}</div>
                <a :href="x.topic_id" class="itemTitle title hover-link">{{ x.news_title }}</a>
                <p class="subtitle">
                  {{ x.news_details | truncate(100, '...') }}
                </p>
              </div>
            </div>
            <!-- /.contracts__item -->
          </div>
          <!-- /.contracts__items -->
          <!-- END CONTRACTS ITEMS -->
  
        </div>
        <!-- /.contracts__content container-width-medium -->
      </section>
      <!-- /.contracts -->
      <!-- END CONTRACTS SECTION -->
  
      <!-- START SIMPLIFY SECTION -->
      <section class="simplify">
        <div class="simplify__content container-width-medium">
  
          <div class="simplify__content-wrap">
            <div class="simplify__title sectionTitle">
              <h2>{{indexObj.simplify_document_signature}}</h2>
              <div class="subtitle">{{indexObj.all_sign_up}}</div>
            </div>
            <!-- /.simplify__title -->
  
            <div class="simplify__links">
              <a href="#" style="text-decoration: none;cursor: none;" class="button-transparent" v-if="showlogged">Logged</a>
              <a data-toggle="modal" href="#" class="button-transparent" v-else>{{authObj.sign_in}}</a>
              <a href="#" class="button-large">{{authObj.get_started_now}}</a>
            </div>
            <!-- /.simplify__links -->
          </div>
          <!-- /.simplify__content-wrap -->
  
        </div>
        <!-- /.simplify__content container-width-medium -->
      </section>
      <!-- /.simplify -->
      <!-- END SIMPLIFY SECTION -->
  
      <!-- START FOOTER -->
      <footer class="footer">
        <div class="footer__content container-width-medium">
  
          <div class="footer__topline">
            <div class="footer__topline-logo">
              <img src="static/img/logo-dark.svg" alt="Coffee Sign">
            </div>
            <!-- /.footer__topline-logo -->
  
            <ul class="footer__links">
              <li>
                <a href="/">{{navObj.home}}</a>
              </li>
              <li>
                <a href="/casestudy">{{navObj.case_study}}</a>
              </li>
              <li>
                <a href="/legality">{{navObj.legality_guide}}</a>
              </li>
              <li>
                <a href="/news">{{navObj.news}}</a>
              </li>
            </ul>
            <!-- /.footer__links -->
          </div>
          <!-- /.footer__topline -->
  
          <div class="footer__bottomline">
            <div class="footer__bottomline-text">
              <div class="footer__bottomline-img">
                <img src="static/img/svg/footer-icon.svg" alt="Contacts">
              </div>
              <div class="footer__bottomline-contacts">
                <div class="title">{{footerObj.want_to_say_hi}}</div>
                <div class="contacts">
                 {{footerObj.mail_us_at}}
                  <a href="mailto:support@coffeesign.com">support@coffeesign.com</a>
                </div>
              </div>
            </div>
            <!-- /.footer__bottomline-text -->
  
            <ul class="footer__sotial">
              <li class="footer__sotial-title">
                {{footerObj.follow_on_social_media}}
              </li>
              <li>
                <a href="#" aria-label="Facebook">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Twitter">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Linkedin">
                  <svg class="footer__sotial-link">
                    <use xlink:href="static/img/svg/sprite-sotial-links.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <!-- /.footer__sotial -->
          </div>
          <!-- /.footer__bottomline -->
  
        </div>
        <!-- /.footer__content container-width-medium -->
      </footer>
      <!-- /.footer -->
      <!-- END FOOTER -->

    </div>
    <!-- /.page-content-wrapper -->
    <!-- The Modal for Login Form 
<div class="modal" id="LoginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <!-- Modal body 
      <div class="modal-body">
        <form action="">
        <div class="form-group">
          <label for="email">Email Address:</label>
          <input type="email" class="form-control" id="email" required>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" required>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form> 
      </div>
    </div>
  </div>
</div>
<!-- The Modal End 
<!-- The Modal for SignUp Form 
<div class="modal" id="SignUpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">SignUp</h4>
      </div>
      <!-- Modal body
      <div class="modal-body">
        <form action="">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" required>
          <span id="nameerror" class="text-danger"></span>
        </div>  
        <div class="form-group">
          <label for="emailaddress">Email Address:</label>
          <input type="email" class="form-control" id="emailaddress" required>
          <span id="emailerror" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" required>
          <span id="passworderror" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label for="cpassword">Confirm Password:</label>
          <input type="password" class="form-control" id="cpassword" required>
          <span id="cpassworderror" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" v-on:click="submitsignup">Submit</button>
        </form> 
      </div>
    </div>
  </div>
</div>
<!-- The Modal End  
<!-- The Modal for SuccessFul SignUp Message 
<div class="modal" id="SuccessModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="closesuccessmodalbutton">&times;</button>
        <h4 class="modal-title">Registration</h4>
      </div>
      <!-- Modal body
      <div class="modal-body">
        <p class="text-center">Your account is successfully registered.<br><br>
          <button class="btn btn-success" v-on:click="openlogin">Login Now</button>
        </p>   
      </div>
    </div>
  </div>
</div>
<!-- hidden button to trigger modal -->
<button data-toggle="modal" data-target="#SuccessModal" id="successmodalbutton" style="display: none;"></button>
<!-- The Modal End --> 
  </div>
  <!-- /.page-wrapper -->
</template>

<script>
export default {
  name: 'News',
  data () {
    return {
      news: [],
      lastnews_date: '',
      lastnews_title: '',
      lastnews_content: '',
      lastnews_photo: '',
      lastnews_id: '',
      showlogged: false,
      loginusername: '',
      lang: '/en',
      navObj: {},
      authObj: {},
      casestudyObj: {},
      footerObj: {},
      legalityObj: {},
      indexObj: {},
      commonObj: {}
    }
  },
  methods: {
      submitsignup: function (e) {
      e.preventDefault();
      var name = document.getElementById("name").value;
      var email = document.getElementById("emailaddress").value;
      var pass1 = document.getElementById("password").value;
      var pass2 = document.getElementById("cpassword").value;
      var error = 0;
      var letters = /^[a-zA-Z][a-zA-Z\s]*$/;
              if (!name.match(letters)) {
                document.getElementById("nameerror").innerText = "Name may contain only alphabets.";
                error = 1;
              } else {
                document.getElementById("nameerror").innerText = "";
              }
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (!re.test(email)) {
        document.getElementById("emailerror").innerText = "Please type a valid email address.";
        error = 1;
      } else {
              document.getElementById("emailerror").innerText = "";
             }        
      if (pass1!=pass2) {
            document.getElementById("cpassworderror").innerText = "Password not matched!!";
            error = 1;
            } else {
              document.getElementById("cpassworderror").innerText = "";
            }
      if (pass1.length<6) {
          document.getElementById("passworderror").innerText = "Please type password of atleast six characters!";
          error = 1;
      } else {
          document.getElementById("passworderror").innerText = "";
      }
      if (error==0) {
        const formdata = new FormData();
        formdata.append('name', name);
        formdata.append('email', email);
        formdata.append('password', pass2);
        this.$http.post(this.$api_url+'/signupapi', formdata, { headers: { 'Authorization': null } })
                    .then((response) => {
                    //alert(JSON.stringify(response.data));
                    if (response.data['comment']=='Register successfully.') {
                      document.getElementById("signupmodalbutton").click();  
                      document.getElementById("successmodalbutton").click();
                        } else if (response.data['comment']=='User already exist.') {
                          document.getElementById("emailerror").innerText = "User with this email address already exists. Please try with another.";
                        } else {
                          alert("Something went wrong.Please try again")
                        }      
                    })
                    .catch((error) => {
                        // Error
                        if (error.response) {
                            // console.log(error.response.headers);
                            //alert("There is error. Please try again.")
                        } else if (error.request) {
                            // The request was made but no response was received
                            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
                            // http.ClientRequest in node.js
                            console.log(error.request)
                            //alert("No connection to server. Please check your internet connectivity.");
                        } else {
                            // Something happened in setting up the request that triggered an Error
                            console.log('Error', error.message);
                            //alert("unknown error. please try again.")
                        }
                        console.log(error.config)
                });
      }       
    },
    getnews: function () {
        this.$http.get(this.$api_url+this.lang+'/news', { headers: { 'Authorization': null } })
                    .then((response) => {
                    console.log('the news is ', response.data);  
                    var reslength = response.data.length;
                    var i;
                    for(i = 0; i < reslength; i++) {
                        this.news.push({"id": i, "news_title": response.data[i]['title'], "news_details": response.data[i]['details_en'], "news_photo": this.$api_url+response.data[i]['photo_file'], "news_date": new Date(response.data[i]['date']).toDateString(), "topic_id": '/newspost?id='+response.data[i]['topic_id']}); 
                    }
                    var lastnewsindex = reslength-1;
                    this.lastnews_date = new Date(response.data[lastnewsindex]['date']).toDateString()
                    this.lastnews_title = response.data[lastnewsindex]['title'];
                    this.lastnews_content = response.data[lastnewsindex]['details_en'];
                    this.lastnews_photo = response.data[lastnewsindex]['photo_file'];
                    this.lastnews_id = '/newspost?id='+response.data[lastnewsindex]['topic_id'];
                    })
                    .catch((error) => {
                        // Error
                        if (error.response) {
                            //alert("There is error. Please try again.")
                        } else if (error.request) {
                            console.log(error.request)
                            //alert("No connection to server. Please check your internet connectivity.");
                        } else {
                            // Something happened in setting up the request that triggered an Error
                            console.log('Error', error.message);
                            //alert("unknown error. please try again.")
                        }
                        console.log(error.config)
                }) 
      },
      openlogin: function () {
        document.getElementById("closesuccessmodalbutton").click();
        document.getElementById("loginlink").click();
    },
    loginuser: function (e) {
      e.preventDefault();
      var email = document.getElementById("email").value;
      var password = document.getElementById("pwd").value;
      const formdata = new FormData();
      formdata.append('email', email);
      formdata.append('password', password);
      this.$http.post(this.$api_url+'/loginapi', formdata, { headers: { 'Authorization': null } })
                  .then((response) => {
                  //alert(JSON.stringify(response.data));
                  if (response.data['comment']=='Login successfully.') {
                        document.getElementById("closeloginmodalbutton").click(); 
                        var username = response.data['username'];
                        var emailid = response.data['email'];
                        localStorage.setItem('name', username);
                        localStorage.setItem('email', emailid);
                        this.loginstatus();
                        this.loginusername = username;
                      } else if (response.data['comment']=='User email not exist.') {
                        document.getElementById("loginerror").innerText = "User with this email address doesn't exist.";
                      } else if (response.data['comment']=='Wrong password.') {
                        document.getElementById("loginerror").innerText = "Password is incorrect. Please try again";
                      } else {
                        alert("Something went wrong.Please try again")
                      }      
                  })
                  .catch((error) => {
                      // Error
                      if (error.response) {
                          //alert("There is error. Please try again.")
                      } else if (error.request) {
                          console.log(error.request)
                          //alert("No connection to server. Please check your internet connectivity.");
                      } else {
                          console.log('Error', error.message);
                          //alert("unknown error. please try again.")
                      }
                      console.log(error.config)
              });
    },
    loginstatus: function () {
      if (localStorage.getItem('email')){
          this.showlogged = !this.showlogged;
          }
    },
    logoutuser: function () {
      localStorage.removeItem('email');
      localStorage.removeItem('name');
      window.open('/', '_self');
    },
    changelang: function (langvalue) {
      this.lang = langvalue;
      localStorage.setItem('langselected', langvalue);
      location.reload(true);
    },
    getlanginputs: function () {
      if (localStorage.getItem('langselected')) {
        var lang = localStorage.getItem('langselected');
      } else {
        var lang = '/en';
      }
      this.$http.get(this.$api_url+'/static/i18n'+lang+'.json', { headers: { 'Authorization': null } })
                  .then((response) => {
                  //console.log('the lang inputs are here ', response.data);
                  this.authObj = response.data['auth'];
                  this.navObj = response.data['navigation'];
                  this.commonObj = response.data['common'];
                  this.indexObj = response.data['index'];
                  this.casestudyObj = response.data['case_study'];
                  this.footerObj = response.data['footer'];
                  this.legalityObj = response.data['legality'];
                 })
                  .catch((error) => {
                      // Error
                      if (error.response) {
                          //alert("There is error. Please try again.")
                      } else if (error.request) {
                          console.log(error.request)
                          //alert("No connection to server. Please check your internet connectivity.");
                      } else {
                          console.log('Error', error.message);
                          //alert("unknown error. please try again.")
                      }
                      console.log(error.config)
              });
    },
    updatelang: function () {
      if (localStorage.getItem('langselected')) {
      var langselected = localStorage.getItem('langselected');
      this.lang = langselected;
      if (langselected=='/jp') {
        document.getElementById("showlangspan").textContent = "æ—¥æœ¬èªž";
        document.getElementById("showlangflag").src = 'static/img/svg/japanese-flag.svg';
      }
      if (langselected=='/ar') {
        document.getElementById("showlangspan").textContent = "í•œêµ­ì–´";
        document.getElementById("showlangflag").src = 'static/img/svg/korean-flag.svg';
      }
      if (langselected=='/en') {
        document.getElementById("showlangspan").textContent = "English";
        document.getElementById("showlangflag").src = 'static/img/svg/england-flag.svg';
      }
      }
    }
  },
  mounted() {
    this.getlanginputs();
    this.updatelang();
    this.loginstatus();
    this.getnews();
    var t = document.querySelector(".language__list-item");
    t && t.addEventListener("click", function(e) {
        if (e.target.closest(".language")) {
            e.preventDefault();
            var t = document.querySelector(".language"),
                a = document.querySelector(".language__links");
            if (a.classList.contains("active")) return a.classList.add("leave-active"), void setTimeout(function() {
                a.classList.remove("active", "leave-active"), t.classList.remove("active")
            }, 300);
            a.classList.add("pre-active"), t.classList.add("active"), setTimeout(function() {
                a.classList.add("active"), a.classList.remove("pre-active")
            }, 10)
        }
    });
  }    
}
</script>