@import "vars"


/*==========  Desktop First  ==========*/

// ≥1650px
@media only screen and (max-width : 1650px)
  /**/










// ≥1400px
@media only screen and (max-width : 1400px)
  .header__main
    padding-top: 150px
  .advantages__item-title
    width: 200px
  .advantages__item-title .subtitle
    font-size: 13px
  .header--legality
    min-height: 460px
  .header__main--legality
    padding-top: 65px
  .header__main--legalityCountry
    padding-top: 65px
  .header--caseStudy
    min-height: initial
  .header__main--caseStudy
    padding-top: 80px
  .contracts__topLine
    flex-wrap: wrap
    height: auto
    border: none
  .contracts__topLine .title
    margin-bottom: 10px
  .contracts__links-list
    width: 100%
    height: 50px
    border-bottom: 1px solid $text
    border-top: 1px solid $text
    justify-content: space-between
  .contracts__links-list li
    margin: 0 5px
  .contracts__links-list li:not(:first-child)
    margin-left: 5px
  .contracts__links-list li:first-child
    margin-left: 0
  .contracts__links-list li:last-child
    margin-right: 0













// ≥1200px
@media only screen and (max-width : 1200px)
  .header
    min-height: 600px
  .header__nav
    padding-left: 50px
  .header__main
    padding-top: 100px
  .header__h1
    font-size: 40px
  .header__h1 .cupOfCoffee
    max-width: 315px
  .sectionTitle h2
    font-size: 28px
  .advantages__item
    padding-top: 10px
    max-width: 210px
  .advantages__item:not(:first-child)
    margin-left: 10px
  .itemTitle
    font-size: 20px
  .specialAbout__item
    padding: 12px
  .steps
    padding-top: 40px
    padding-bottom: 80px
  .steps::before
    width: 460px
    height: 355px
  .steps__content-wrap
    max-width: 50%
  .steps__content-wrap::before
    width: 400px
    height: 300px
    left: -470px
    top: 50%
    transform: translateY(-50%)
  .legalityGuide__items
    max-width: 645px
  .pricing__items-wrap
    justify-content: space-around
  .pricing__item
    max-width: 235px
    padding: 20px
  .simplify__title
    max-width: 450px
  .header--legality
    min-height: 460px
  .header__main--legality
    padding-top: 50px
  .legality__description
    max-width: 690px
  .header__main--legalityCountry
    padding-top: 65px
  .facts__items
    max-width: 970px
    margin: 0 auto
  .facts__item
    max-width: 315px
  .header--caseStudy
    min-height: initial
  .header__h1--caseStudy
    font-size: 28px
  .contracts__item-text
    padding: 20px
  .post
    padding-top: 50px
  .header__mobile-button--privacy
    display: block
    span
      background-color: $headers-medium
  .header
    &__nav--privacy
      padding: 50px 0
      flex-direction: column
      justify-content: space-between
      width: 260px
      height: 100vh
      background-color: $text
      position: fixed
      right: 0
      top: 0
      overflow: auto
      transform: translateX(260px)
      transition: transform .3s
      background-image: url(../img/menu-bg.jpg)
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      z-index: 10
      &.active
        transform: translateX(0)
  .header__nav-links--privacy
    width: 100%
    display: block
    li
      margin: 0
      a
        display: block
        text-align: center
        color: #ffffff
        &.language
          padding: 10px
          img
            display: inline-block
            margin: 0 5px -2px 0
        &.login--policy,
        &.signUp--policy
          margin: 0 auto 10px
          width: 150px
  .header__nav-actions li a.language::before,
  .header__nav-links li a.language::before
    display: none
  .language__links--policy.language__links
    left: 50%
    transform: translate(-50%, 30px)
  .language__links--policy.language__links.active
    transform: translate(-50%,0)
  .language__links--policy li a.language__link
    color: $text













// ≥992px
@media only screen and (max-width : 992px)
  /* START MOBILE MENU ==========*/
  .header
    &__mobile-button
      display: block
    &__nav
      padding: 50px 0
      flex-direction: column
      justify-content: initial
      width: 260px
      height: 100vh
      background-color: $text
      position: fixed
      right: 0
      top: 0
      overflow: auto
      transform: translateX(260px)
      transition: transform .3s
      background-image: url(../img/menu-bg.jpg)
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      z-index: 10
      border-left: 2px solid #fff
      &.active
        transform: translateX(0)
      &-links,
      &-actions
        flex-direction: column
  /* END MOBILE MENU ==========*/

  

  .substraction__button
    width: 40px
    height: 40px
    right: 15px
    bottom: 15px
    background-size: 16px 20px
  .substraction__wrap
    bottom: 60px
    overflow: auto
  .substraction__logo
    margin-bottom: 5px
  .substraction__h3
    font-size: 18px
    font-weight: 700
  .substraction__text
    font-size: 12px
    line-height: 1.3
  .substraction__form label input,
  .substraction__form label textarea
    padding: 10px 10px 10px 40px
  .substraction__icon
    top: 9px
  .header__nav-actions,
  .header__nav-links
    width: 100%
  .header__nav-actions li,
  .header__nav-links li
    margin: 0
  .header__nav-actions li a,
  .header__nav-links li a
    width: 100%
    justify-content: center
    color: #ffffff
  .header__nav-actions li a.active::before,
  .header__nav-links li a.active::before
    display: none
  .header__nav-actions li a.signUp
    width: 150px
    margin: 0 auto
  .header__nav-actions li a.language
    padding: 10px
  .header__nav-actions li a.language::before
    display: none
  .language__links
    left: 50%
    transform: translate(-50%, 30px)
    z-index: 11
  .language__links.active
    transform: translate(-50%, 0)
  .language__links li a
    color: $text
  .advantages
    padding: 50px 0
  .advantages__items
    margin: 0 auto
  .advantages__item
    padding: 0
    margin: 0
  .advantages__title
    max-width: 100%
    width: 100%
    margin-bottom: 20px
    text-align: center
  .specialAbout
    padding: 50px 0
  .itemTitle
    font-size: 18px
  .steps__content-wrap
    max-width: 500px
    margin: 0 auto
  .steps__content-wrap::before
    display: none
  .legalityGuide
    padding: 50px 0
  .legalityGuide__title
    max-width: 100%
    margin: 0 auto 20px
    text-align: center
  .legalityGuide__items
    margin: 0 auto
  .sectionTitle h2
    margin-bottom: 15px
  .pricing
    padding: 50px 0
  .pricing__items-wrap.active
    max-width: 500px
    margin: 0 auto
  .pricing__item
    margin-bottom: 20px
  .simplify
    padding: 50px 0
  .simplify__title
    max-width: 100%
    width: 100%
    text-align: center
    margin-bottom: 20px
  .simplify__links
    margin: 0 auto
  .footer__bottomline-text
    width: 100%
    justify-content: center
    margin-bottom: 20px
    text-align: center
  .footer__bottomline-img
    display: none
  .footer__sotial
    flex-wrap: wrap
    justify-content: center
    text-align: center
    margin: 0 auto
  .footer__sotial-title
    width: 100%
    margin-bottom: 10px
  .footer__sotial li:not(:first-child)
    margin: 0 10px
  .facts
    padding: 50px 0
  .legality__description
    margin: 0 auto
  .facts__items
    max-width: 740px
    margin: 0 auto
  .facts__item
    max-width: 365px
  .header__main--caseStudy
    padding-top: 60px
  .header__title-wrap
    margin-bottom: 20px
  .header__options
    margin-left: 0
  .contracts__topLine
    padding-top: 10px
    border-bottom: 1px solid $text
    border-top: 1px solid $text
  .contracts__links-list
    display: none
    border: none
    height: auto
    transform: scaleY(1)
    height: auto
  .contracts__links-list li
    margin-left: 0
  .contracts__links-list li a
    display: inline-block
    padding: 10px
  .contracts__topLine-button
    display: block
  .contracts__banner
    min-height: 430px
  .contracts__banner-tags li
    margin-right: 10px
  .contracts__banner-tags li a
    font-size: 10px
  .contracts__banner-date
    margin-bottom: 0
    font-size: 12px
  .contracts__banner-h2
    font-size: 20px
    line-height: 1.2
    margin-bottom: 10px
  .contracts__banner-subtitle
    font-size: 14px
    line-height: 1.3
  .contracts__items
    max-width: 640px
    margin: 0 auto
  .post
    padding: 50px 0
  .post__title
    padding-top: 30px
    margin-bottom: 50px
  .post__title-back
    left: 50%
    transform: translateX(-50%)
  .post__title-img
    min-height: 450px
  .morePosts
    padding: 50px 0 10px
  .morePosts__items
    max-width: 450px
    margin: 0 auto
  .morePosts__item
    max-width: 100%
  .privacyPolicy
    padding-top: 50px
  .privacyPolicy__text-wrap
    padding-bottom: 50px
  .footerLight
    padding: 50px 0
  .header__title-wrap--news
    margin-bottom: 0












// ≥768px
@media only screen and (max-width : 768px)
  .substraction__wrap
    max-width: 295px
  .substraction__title
    padding: 10px
  .substraction__logo
    width: 60px
    height: 20px
    margin-bottom: 0
  .substraction__h3
    font-size: 16px
    margin-bottom: 0
  .substraction__form label input,
  .substraction__form label textarea
    padding: 8px 8px 8px 40px
  .substraction__icon
    top: 8px
  .substraction__form input[type=submit]
    font-size: 12px
    height: 35px
  .substraction__link
    font-size: 10px
    height: 18px
  .header
    min-height: 450px
  .header__main
    padding-top: 70px
  .header__h1
    font-size: 32px
    margin-bottom: 10px
  .header__h1 .cupOfCoffee::before
    display: none
  .header__subtitle
    font-size: 16px
    margin-bottom: 25px
  .advantages__items
    justify-content: center
  .advantages__item
    margin-bottom: 20px
    margin-left: 0
    text-align: center
  .advantages__item:not(:first-child)
    margin-left: 0
  .advantages__item-h3
    justify-content: center
  .specialAbout__items
    max-width: 400px
    margin: 0 auto
    flex-wrap: wrap
  .specialAbout__item
    max-width: 100%
    border-right: none
    padding: 25px 0
  .specialAbout__item:not(:last-child)
    border-right: none
    border-bottom: 1px solid rgba(#e1e1e1, .5)
  .testimonials__items
    max-width: 100%
  .testimonials__items-wrap
    max-width: 350px
  .testimonials__item
    box-shadow: none
    padding: 55px 0 20px
  .testimonials__buttons-prev
    left: 100px
  .testimonials__buttons-next
    right: 100px
  .header__main
    padding-top: 50px
  .facts__items
    max-width: 455px
    margin: 0 auto
  .facts__item
    max-width: 100%
  .header__content--legality
    padding-bottom: 40px
  .header__h1--legalityCountry
    font-size: 28px
  .header__items--legalityCountry
    max-width: 230px
    margin: 0 auto
  .legalityCountryText
    padding: 50px 0
  .legalityCountryText__items
    flex-wrap: wrap
  .legalityCountryText__item--left
    padding-right: 0
  .legalityCountryText__item--right
    max-width: 100%
  .legalityCountryText__links
    margin-bottom: 30px
  .legalityCountryText__card
    max-width: 230px
    margin: 0 auto
  .header--caseStudy
    min-height: auto
  .header__options
    margin: 0 auto
  .header__options-wrap
    max-width: 220px
  .contracts__banner
    min-height: 350px
  .contracts__banner-content
    padding: 20px
  .contracts__banner-tags
    flex-wrap: wrap
  .contracts__banner-tags li
    margin-bottom: 5px
  .contracts__items
    max-width: 400px
    margin: 0 auto
  .contracts__item
    max-width: 100%
    margin-bottom: 20px
    &:last-child
      margin-bottom: 40px
  .contracts__item-text .list-tags li a
    font-size: 10px
  .post__title-h1
    font-size: 26px
  .post__title-img
    min-height: 300px
  .post__text-h2
    font-size: 20px
    margin-bottom: 25px
  .post__text-h3
    padding-left: 60px
  .post__text-h3::before
    width: 40px
  .post__text-text
    font-size: 14px
  .post__text-text:not(:last-child)
    margin-bottom: 25px
  .post__text-img
    min-height: 300px
    margin: 25px 0
  .morePosts__h2
    font-size: 20px
  .privacyPolicy__title
    padding-top: 25px
  .privacyPolicy__update
    font-size: 14px
    margin-bottom: 10px
  .privacyPolicy__h1
    font-size: 24px
    margin-bottom: 20px
  .privacyPolicy__text
    font-size: 14px
  .privacyPolicy__text:not(:last-child)
    margin-bottom: 15px
  .privacyPolicy__h3
    font-size: 18px
    margin-bottom: 10px
  .privacyPolicy__list
    font-size: 14px
    margin-bottom: 15px
  .privacyPolicy__list li::before
    top: 7px
  .footerLight__content-wrap
    justify-content: center
  .footerLight__copyright
    margin-bottom: 15px
    width: 100%
    text-align: center
  .header__subtitle--news
    margin-bottom: 0











// ≥480px
@media only screen and (max-width : 480px)
  .header
    min-height: 500px
  .header__main
    padding-top: 50px
  .header__nav
    max-width: 250px
  .header__mobile-button.active
    transform: translateX(-265px)
  .header__h1
    font-size: 30px
  .steps__title
    text-align: center
  .legalityGuide
    padding-bottom: 20px
  .legalityGuide__item-text
    font-size: 13px
  .legalityGuide__item-link
    padding: 0
    text-decoration: underline
  .legalityGuide__item-link::before,
  .legalityGuide__item-link::after
    display: none
  .legalityGuide__items-pagination
    right: 50%
    transform: translateX(50%)
    position: absolute
    z-index: 3
  .legalityGuide__items
    padding-bottom: 60px
  .testimonials__buttons-prev
    left: 0
  .testimonials__buttons-next
    right: 0
  .simplify__links
    flex-wrap: wrap
    max-width: 216px
  .simplify__links a
    display: flex
    margin: 0 auto
  .simplify__links a:not(:first-child)
    margin: 10px auto 0
  .footer__topline-logo
    text-align: center
    width: 100%
  .footer__topline-logo img
    width: auto
  .footer__links
    margin: 0 auto
  .footer__links li a
    font-size: 12px
  .footer__links li:not(:first-child) a
    margin: 0
  .header__content--legality
    background-image: none
  .header__h1--legality
    font-size: 24px
  .header__subtitle--legality
    font-size: 14px
  .header__form--legality .search
    flex: none
    margin-left: 3px
  .facts__item
    padding: 15px
  .header__h1--caseStudy
    font-size: 22px
  .header__subtitle--caseStudy
    font-size: 14px
  .header--caseStudy
    min-height: auto
  .header__options
    justify-content: space-between
  .header__options-wrap
    max-width: 49%
  .header__options-wrap:not(:last-child)
    margin-bottom: 0
  .contracts__banner
    min-height: 300px
  .contracts__banner-link
    margin-bottom: 0
    line-height: 1.2
    font-size: 20px
  .contracts__banner-subtitle
    display: none
  .contracts__banner-h2
    font-size: 16px
    line-height: 1.3
  .post__title-img
    min-height: 250px
  .post__text-img
    min-height: 220px
  .privacyPolicy__list
    padding-left: 0
  .privacyPolicy__list li span
    margin-bottom: 0
  .privacyPolicy__list li .paragraph-link
    font-size: 12px
  .footerLight__copyright
    font-size: 12px


/*==========  Mobile First  ==========*/

// ≤320x
@media only screen and (max-width : 320px)
  /**/

// ≤480px
@media only screen and (min-width : 480px)
  /**/

// ≤768px
@media only screen and (min-width : 768px)
  /**/

// ≤992px
@media only screen and (min-width : 992px)
  /**/

// ≤1200px
@media only screen and (min-width : 1200px)
  /**/
