@import 'vars'

/* START POST SECTION ==========*/
.post
  padding: 80px 0

  &__title
    margin-bottom: 40px
    position: relative
    &-back
      position: absolute
      left: 0
      top: 0
      color: $headers-medium
      text-decoration: none
      img
        display: inline-block
        width: 12px
        height: 7px
        margin-right: 10px
        position: relative
        bottom: 1px
        left: 0
    &-date,
    &-h1,
    &-tags
      max-width: 635px
      margin: 0 auto
    &-h1
      font-size: 28px
      color: $headers
      line-height: 1.3
      margin-bottom: 20px
    &-tags
      margin-bottom: 40px
      li
        margin-right: 10px
    &-img
      width: 100%
      min-height: 400px
      border-radius: 5px
      overflow: hidden
      position: relative
      img
        width: 100%
        height: 100%
        object-fit: cover
        position: absolute

  &__text
    max-width: 635px
    margin: 0 auto
    &-h2
      font-size: 20px
      line-height: 1.3
      margin-bottom: 40px
      color: $headers-medium
      font-weight: 700
    &-h3
      font-size: 16px
      font-weight: 700
      margin-bottom: 20px
      padding-left: 120px
      position: relative
      color: $headers
      &::before
        content: ''
        position: absolute
        display: block
        width: 100px
        height: 2px
        left: 0
        top: 12px
        background-color: #9ea0a5
    &-text
      font-size: 16px
      > a
        color: $headers-medium
        transition: color .3s
        &:hover,
        &:focus
          color: $accent
      &:not(:last-child)
        margin-bottom: 30px
    &-img
      width: 100%
      min-height: 320px
      position: relative
      border-radius: 5px
      overflow: hidden
      margin: 40px 0
      img
        width: 100%
        height: 100%
        object-fit: cover
        position: absolute
/* END POST SECTION ==========*/

/* START MORE POSTS SECTION ==========*/
.morePosts
  padding: 80px 0 40px
  background-color: #fcfafa

  &__h2
    font-size: 26px
    color: $headers
    text-align: center
    margin-bottom: 40px

  &__items
    margin-bottom: 0
/* END MORE POSTS SECTION ==========*/