@import 'vars'

/* START CASE STUDY HEADER ==========*/
.header
  &--caseStudy
    min-height: initial
    background-image: none
    background-color: #ffffff
    position: relative
    &::before
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 6px
      left: 50%
      top: 90px
      transform: translateX(-50%)
      background-image: linear-gradient(to bottom, rgba(119, 86, 73, .08), transparent)

  &__topline--caseStudy
    border-bottom: none

  &__logo--caseStudy
    position: relative

  &__nav-links--caseStudy,
  &__nav-actions--caseStudy
    li
      a
        color: $text
        &:hover,
        &:focus
          color: $headers-medium
        &.active
          color: $headers-medium
          &::before
            background-color: $headers-medium
        &.login
          color: $headers-medium
        &.signUp
          background-color: $headers-medium
          color: #ffffff
          &:hover
            background-color: darken($headers-medium, 5)
          &:focus
            background-color: lighten($headers-medium, 5)
          
  &__main--caseStudy
    padding: 80px 0 40px
    display: flex
    flex-wrap: wrap

  &__title-wrap
    max-width: 360px
    width: 100%

  &__h1--caseStudy
    color: $headers
    font-size: 28px
    margin-bottom: 10px
  &__subtitle--caseStudy
    color: $text
    font-size: 14px
    margin-bottom: 0

  &__options
    margin-left: auto
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    max-width: 475px
    width: 100%
    &-wrap
      max-width: 230px
      width: 100%
      position: relative
      label
        display: block
        position: relative
        &::before
          content: ''
          position: absolute
          display: block
          width: 7px
          height: 7px
          top: 50%
          right: 15px
          transform: translateY(-50%) rotate(180deg)
          background-image: url(../img/svg/gray-arrow.svg)
          background-repeat: no-repeat
          background-position: center center
          background-size: contain
          z-index: 0
        &.active
          &::before
            transform: translateY(-50%) rotate(0)
        input
          width: 100%
          padding: 10px 25px 10px 15px
    &-list--caseStudy
      z-index: 3
      li
        padding: 7px 15px
/* END CASE STUDY HEADER ==========*/

/* CASE STUDY CONTRACTS SECTION ==========*/
.contracts
  padding-bottom: 80px

  &__topLine
    display: flex
    align-items: center
    flex-wrap: wrap
    position: relative
    .title
      margin-bottom: 10px
      width: 100%
      color: #000000
    &-button
      display: none
      flex-wrap: wrap
      width: 20px
      height: 20px
      right: 0
      top: 11px
      flex: none
      position: absolute
      border: none
      background-color: transparent
      transition: transform .3s
      z-index: 1
      span
        display: block
        width: 20px
        height: 3px
        border-radius: 3px
        background-color: $text
        position: absolute
        left: 0
        top: calc(50% - 1.5px)
        transform-origin: center
        transition: transform .3s
        &:first-child
          top: calc(50% - 7px)
        &:last-child
          top: calc(50% + 5px)
      &.active
        span
          &:first-child
            top: calc(50% - 2px)
            transform: rotate(45deg)
          &:nth-child(2)
            width: 28px
            top: calc(50% - 2px)
            display: none
          &:last-child
            top: calc(50% - 2px)
            transform: rotate(-45deg)

  &__links-list
    width: 100%
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    align-items: center
    list-style-type: none
    position: relative
    border-bottom: 1px solid $text
    border-top: 1px solid $text
    transition: all .3s
    transform-origin: top
    &.pre-active
      display: block
      transform: scaleY(0)
      height: 0
    &.active
      height: auto
      display: block
      transform: scaleY(1)
    li
      &:not(:first-child)
        margin-left: 14px
      &.active
        a
          color: $headers-medium
          &::before
            content: ''
            position: absolute
            display: block
            width: 100%
            height: 2px
            left: 0
            bottom: 0
            background-color: $headers-medium
      a
        display: block
        padding: 14px 0
        text-decoration: none
        color: $text
        transition: color .3s
        position: relative
        &:hover,
        &:focus
          color: $headers-medium

  &__banner
    margin: 40px 0
    position: relative
    min-height: 400px
    border-radius: 5px
    overflow: hidden
    &-img
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
    &-content
      width: 100%
      height: 100%
      padding: 30px
      position: absolute
      left: 0
      top: 0
      display: flex
      flex-direction: column
      justify-content: space-between
    &-tags
      display: flex
      margin-bottom: auto
      list-style-type: none
      li
        margin-right: 10px
        a
          display: block
          border-radius: 5px
          padding: 5px 10px
          background-color: $accent
          text-decoration: none
          color: #ffffff
          transition: background-color .3s
          &:hover
            background-color: darken($accent, 5)
          &:focus
            background-color: lighten($accent, 5)
    &-date
      margin-bottom: 10px
      color: #ebebeb
      font-weight: 700
    &-link
      margin-bottom: 15px
      font-size: 22px
      font-weight: 700
      color: #ffffff
      text-decoration: none
    &-subtitle
      font-size: 16px
      color: #e9e9e9

  &__items
    margin-bottom: 40px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__item
    margin-bottom: 40px
    max-width: 310px
    border-radius: 5px
    overflow: hidden
    box-shadow: 0 5px 10px 0 rgba(65, 48, 42, 0.07)
    &:hover
      .contracts__item-img img
        transform: scale(1.3)
    &-img
      width: 100%
      height: 130px
      overflow: hidden
      img
        width: 100%
        height: 100%
        object-fit: cover
        transition: transform 15s
    &-text
      padding: 15px
      .title
        margin: 10px 0 15px
        line-height: 1.35
        text-decoration: none
        display: block
        font-size: 18px
      .list-tags
        display: flex
        flex-wrap: wrap
        list-style-type: none
        margin-top: 15px
        li
          margin-right: 5px
          margin-bottom: 5px
          a
            display: block
            padding: 2px 7px
            text-decoration: none
            border: solid 1px #ebebeb
            background-color: #fcfafa
            color: #000000
            border-radius: 3px
            font-size: 12px
            transition: background-color .3s
            &:hover,
            &:focus
              background-color: darken(#fcfafa, 5)

  &__link
    margin: 0 auto
    display: block
    width: 215px
    text-align: center
/* END STUDY CONTRACTS SECTION ==========*/