@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap')
@import 'vars'

*
  margin: 0
  padding: 0
  box-sizing: border-box

::placeholder
  color: #9EA0A5

::selection
  background-color: $accent
  color: #fff

body
  font-size: 14px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  overflow-x: hidden
  color: $text
  background-color: #ffffff
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.mobileMenuActive
  overflow: hidden
  position: relative
  height: 100vh
  -webkit-overflow-scrolling: touch
  &::before
    content: ''
    position: fixed
    display: block
    width: 100%
    height: 100vh
    left: 0
    bottom: 0
    background-color: rgba(0, 0, 0, .4)
    z-index: 1


.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.text-center
  text-align: center

b, strong
  font-weight: bold

.page-wrapper
  background-color: #e8e4e2

.page-wrapper,
.page-content-wrapper,
.container-width,
.container-width-medium
  max-width: 1920px
  width: 100%
  margin: 0 auto

.page-content-wrapper
  max-width: 1440px
  background-color: #ffffff

.white-bg
  background-color: #ffffff

.container-width
  max-width: 1430px
  padding: 0 15px

.container-width-medium
  max-width: 990px
  padding: 0 15px

button, a
  outline-color: $accent

.hover-link
  transition: color .3s
  &:hover,
  &:focus
    color: $accent

.button-small,
.button-medium,
.button-large,
.button-transparent
  display: flex
  justify-content: center
  align-items: center
  width: 135px
  height: 50px
  border-radius: 5px
  background-color: $accent
  transition: all .3s
  font-size: 16px
  color: #ffffff
  text-decoration: none
  &:hover
    background-color: darken($accent, 5)
  &:focus
    background-color: lighten($accent, 5)

.button-medium
  width: 230px
  text-decoration: none
  color: #ffffff
  font-size: 16px

.button-large
  display: inline-flex
  width: auto
  padding: 10px 25px

.button-transparent
  background-color: rgba(255, 255, 255, 0.1)
  box-shadow: inset 0 0 0 1px #ebebeb
  &:hover
    background-color: rgba(255, 255, 255, 0.3)
  &:focus
    background-color: rgba(255, 255, 255, 0.6)

.sectionTitle
  h2
    font-size: 28px
    font-weight: 700
    line-height: 1.4
    color: $headers
  .subtitle
    font-size: 12px
    font-weight: 700
    text-transform: uppercase

.itemTitle
  font-size: 22px
  font-weight: 700
  color: $headers-light

.form-input
  display: block
  width: 100%
  max-width: 100%
  padding: 13px 13px 13px 45px
  border-radius: 4px
  border: solid 1px #ebebeb
  transition: all .3s
  &:hover,
  &:focus
    box-shadow: 0 0 3px 0 #775649

.hintWrap
  width: 20px
  height: 20px
  display: inline-block
  position: relative
  bottom: -2px
.hintButton
  width: 100%
  height: 100%
  padding: 3px
  border-radius: 50%
  border: none
  cursor: pointer
  background-color: transparent
  img
    width: 100%
    height: 100%
.hintText
  position: absolute
  left: -125px
  background-color: $headers-medium
  width: 250px
  border-radius: 3px
  padding: 10px 30px 10px 40px
  display: none
  z-index: 1
  &.active
    display: block
  &::before
    content: ''
    position: absolute
    display: block
    width: 20px
    height: 20px
    left: 10px
    top: 10px
    background-image: url(../img/svg/hint-icon-white.svg)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
  button
    width: 20px
    height: 20px
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 5px
    right: 5px
    border: none
    background-color: transparent
    cursor: pointer
    img
      width: 10px
      height: 10px
  .title
    font-weight: 500
    margin-bottom: 5px
  .text
    font-size: 12px
  .progressLine
    display: block
    width: 100%
    height: 3px
    border-radius: 3px
    background-color: $accent
    position: absolute
    left: 0
    bottom: 0
    transform: scaleX(0)
    transform-origin: left
    transition-duration: 5s
    animation-timing-function: linear
    &.active
      animation-timing-function: linear
      transform: scale(1)

.text-list
  list-style-type: none
  li
    padding-left: 16px
    position: relative
    &::before
      content: ''
      position: absolute
      display: block
      width: 6px
      height: 6px
      left: 0
      top: 8px
      border-radius: 50%
      background-color: $headers-medium

.paragraph-link
  color: $headers-medium
  transition: color .3s
  &:hover,
  &:focus
    color: $accent