@import 'vars'

/* START APP LINE ==========*/
.appLine
  padding: 15px
  background-color: $headers-medium
  text-align: center
  color: #ffffff
  position: relative
  margin-top: 0
  transition: margin-top .3s
  &__banner
    margin-right: 16px
    display: inline-flex
    justify-content: center
    align-items: center
    width: 53px
    height: 20px
    background-color: $accent
    border-radius: 3px
    font-weight: 700
  &__link
    margin-left: 10px
    display: inline-flex
    color: #ffffff
    font-weight: 700
    text-decoration: none
    position: relative
    transition: color .3s
    &::before
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 0
      left: 0
      bottom: 1px
      border-bottom: 1px solid #fff
      transition: opacity .3s
    &:hover,
    &:focus
      color: $accent
      &::before
        opacity: 0
  &__button
    display: block
    position: absolute
    width: 25px
    height: 25px
    top: 13px
    right: 15px
    background-color: transparent
    border: none
    cursor: pointer
    &:hover,
    &:focus
      span
        background-color: $accent
    span
      display: block
      width: 100%
      height: 2px
      background-color: #ffffff
      position: absolute
      left: 0
      top: calc(50% -1px)
      transition: background-color .3s
      &:first-child
        transform: rotate(45deg)
      &:nth-child(2)
        transform: rotate(-45deg)
/* END APP LINE ==========*/

/* START SUBSTRACTION FORM ==========*/
.substraction
  &__button
    width: 40px
    height: 40px
    border-radius: 50%
    border: none
    background-color: $accent
    cursor: pointer
    position: fixed
    right: 20px
    bottom: 50px
    background-image: url(../img/svg/subtraction-icon.svg)
    background-repeat: no-repeat
    background-position: center center
    background-size: 20px 24px
    transition: transform .3s
    z-index: 3
    outline: none
    &.active
      background-image: url(../img/svg/close-icon.svg)
    &:hover,
    &:focus
      transform: scale(1.1)

  &__wrap
    max-width: 350px
    height: auto
    background-color: #FCFAFA
    border-radius: 5px
    overflow: hidden
    position: fixed
    right: 20px
    bottom: 100px
    transform: scaleY(0)
    transition: transform .3s
    transform-origin: bottom
    z-index: 11
    &.active
      transform: scaleY(1)
      display: block


  &__title
    padding: 20px 15px
    background-image: url(../img/substraction-bg.jpg)
    background-repeat: no-repeat
    background-position: top center
    background-size: cover
    color: #ffffff

  &__logo
    margin-bottom: 15px
    width: 85px
    height: 30px
    img
      width: 100%
      height: 100%

  &__h3
    font-size: 22px
    margin-bottom: 5px

  &__form
    max-width: 95%
    margin: 10px auto
    padding: 10px
    box-shadow: 0 0 6px #775649
    background-color: #ffffff
    border-radius: 4px
    label
      display: block
      position: relative
      input,
      textarea
        display: block
        margin-bottom: 10px
        &:hover,
        &:focus
          ~ .substraction__icon
            fill: $headers-medium
      .textarea
        min-height: 95px
    input[type="submit"]
      display: block
      width: 100%
      height: 45px
      background-color: $headers-medium
      transition: background-color .3s
      border: none
      &:hover
        background-color: darken($headers-medium, 5)
      &:focus
        background-color: lighten($headers-medium, 5)

  &__icon
    width: 16px
    height: 16px
    fill: #9EA0A5
    transition: fill .3s
    position: absolute
    top: 13px
    left: 15px
    z-index: 1

  &__link
    display: flex
    justify-content: center
    align-items: center
    background-color: #ffffff
    width: 110px
    height: 23px
    margin: 0 auto 10px
    text-decoration: none
    color: $text
    border: solid 1px #ebebeb
    transition: color .3s
    &:hover,
    &:focus
      color: $accent
/* END SUBSTRACTION FORM ==========*/

/* START HEADER ==========*/
.header
  min-height: 705px
  background-color: $text
  background-image: url(../img/header-bg.jpg)
  background-repeat: no-repeat
  background-position: center center
  background-size: cover

  &__topline
    padding: 20px 0
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #7B7571

  &__logo
    &-wrap
      width: 145px
      height: 50px
      img
        width: 100%
        height: 100%

  &__nav
    padding-left: 40px
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    &-links,
    &-actions
      display: flex
      list-style-type: none
      li
        margin-right: 10px
        &:last-child
          margin-right: 0
        a
          display: flex
          padding: 10px
          color: #ffffff
          font-size: 16px
          text-decoration: none
          position: relative
          &.active
            color: $accent
            &::before
              content: ''
              position: absolute
              display: block
              width: 100%
              height: 3px
              left: 0
              bottom: -24px
              background-color: $accent
          &.language
            position: relative
            padding-right: 25px
            line-height: 1.8
            &::before
              content: ''
              position: absolute
              display: block
              width: 8px
              height: 10px
              top: calc(50% - 4px)
              right: 0
              background-image: url(../img/svg/gray-arrow.svg)
              background-repeat: no-repeat
              background-position: center center
              background-size: contain
              transform: rotate(180deg)
            &.active
              &::before
                transform: rotate(0)
                right: 0
                left: auto
                background-color: transparent
            img
              display: inline-block
              width: 20px
              height: 15px
              margin: 7px 5px 0 0
          &.login
            color: $accent
            position: relative
            text-decoration: underline
            line-height: 1.8
            &:hover,
            &:focus
              text-decoration: none

  &__h1
    margin-bottom: 20px
    font-size: 48px
    font-weight: 700
    color: #ffffff
    line-height: 1.3
    span
      display: block
    .cupOfCoffee
      width: auto
      position: relative
      max-width: 370px
      &::before
        content: ''
        position: absolute
        display: block
        width: 56px
        height: 56px
        right: -56px
        top: 50%
        transform: translateY(-50%)
        background-image: url(../img/cup-of-coffee.png)
        background-repeat: no-repeat
        background-position: center center
        background-size: contain

  &__main
    padding-top: 120px
  &__subtitle
    max-width: 690px
    margin-bottom: 50px
    font-size: 18px
    color: #ffffff

  &__button


.language
  &__list-item
    position: relative
  &__links
    width: 110px
    height: auto
    background-color: #fff
    list-style-type: none
    border-radius: 4px
    border: 1px solid #ebebeb
    position: absolute
    left: 0
    bottom: -130px
    transform: translateY(30px)
    display: none
    z-index: 1
    &.pre-active
      display: block
      opacity: 0
    &.active
      transition: transform .3s, opacity .3s
      display: block
      opacity: 1
      transform: translateY(0)
    &.leave-active
      opacity: 0
      transform: translateY(30px)
    li
      margin: 0
      &.active a
        background-color: #dbdbdb
        color: #202020
      a
        display: flex
        width: 100%
        color: $text
        transition: color .3s
        &:hover
          color: #202020
        img
          display: inline-block
          width: 20px
          height: 15px
          margin: 3px 5px 0 0

.header
  &__mobile
    &-button
      display: none
      flex-wrap: wrap
      width: 40px
      height: 40px
      flex: none
      position: relative
      border: none
      background-color: transparent
      transition: transform .3s
      z-index: 10
      span
        display: block
        width: 35px
        height: 4px
        border-radius: 4px
        background-color: $accent
        position: absolute
        left: calc(50% - 17px)
        top: calc(50% - 2px)
        transform-origin: center
        transition: transform .3s
        &:first-child
          top: calc(50% - 10px)
        &:nth-child(2)
          width: 28px
          left: calc(50% - 14px)
        &:last-child
          top: calc(50% + 6px)
      &.active
        transform: translateX(-275px)
        span
          &:first-child
            top: calc(50% - 2px)
            transform: rotate(45deg)
          &:nth-child(2)
            width: 28px
            top: calc(50% - 2px)
            display: none
          &:last-child
            top: calc(50% - 2px)
            transform: rotate(-45deg)
/* END HEADER ==========*/

/* START ADVANTAGES SECTION ==========*/
.advantages
  padding: 80px 0
  background-color: #ebebeb

  &__content
    &-wrap
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap

  &__title
    max-width: 260px
    line-height: 1.3
    h2
      font-size: 28px

  &__items,
  &__item
    display: flex
    justify-content: flex-end
    flex-wrap: wrap
  &__item
    max-width: 210px
    align-items: center
    &:not(:first-child)
      margin-left: 40px
    &-h3
      display: flex
      align-items: center
      font-size: 20px
    &-img
      margin-right: 7px
      width: 26px
      height: 26px
      display: inline-block
      img
        width: 100%
        height: 100%
/* END ADVANTAGES SECTION ==========*/

/* START SPECIAL ABOUT SECTION ==========*/
.specialAbout
  padding: 80px 0 105px

  &__title
    margin-bottom: 40px
    text-align: center

  &__items
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__item
    padding: 0 10px
    max-width: 33.33%
    width: 100%
    text-align: center
    &-img
      margin: 0 auto 25px
      width: 50px
      height: 50px
      img
        width: 100%
        height: 100%
    h3
      margin-bottom: 10px
/* END SPECIAL ABOUT SECTION ==========*/

/* START STEPS SECTION ==========*/
.steps
  padding: 0 0 80px

  &__content
    &-wrap
      max-width: 390px
      margin-left: auto
      position: relative
      &::before
        content: ''
        position: absolute
        display: block
        width: 520px
        height: 420px
        left: -570px
        top: 0
        background-image: url(../img/steps-bg.png)
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        z-index: 0

  &__title
    margin-bottom: 40px

  &__item
    margin-bottom: 15px
    display: flex
    justify-content: space-between
    align-items: center
    transition: color .3s
    &:hover
      .steps__item-step
        color: $accent
      .steps__item-text h3
        color: $headers-light
    &-step
      font-size: 28px
      color: #ebebeb
      font-weight: 700
      margin-right: 10px
      transition: color .3s
    &-text
      h3
        margin-bottom: 5px
        color: $text
        transition: color .3s
        display: flex
        align-items: center
/* END STEPS SECTION ==========*/

/* START LEGALITY GUIDE SECTION ==========*/
.legalityGuide
  padding: 80px 0
  background-image: url(../img/legalityGuide-bg.jpg)
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  background-color: $text

  &__content
    &-wrap
      display: flex
      justify-content: space-between
      align-items: flex-start
      flex-wrap: wrap

  &__title
    max-width: 310px
    h2
      margin-bottom: 40px
      padding-right: 20px
      color: #ffffff
    .subtitle
      color: #ffffff
    &-button
      color: #ffffff
      text-decoration: none

  &__items
    max-width: 635px
    position: relative
    padding-bottom: 10px
    &-pagination
      display: flex
      justify-content: space-between
      width: 100px
      position: absolute
      right: 0
      bottom: 5px
      .swiper-button-prev,
      .swiper-button-next
        display: flex
        justify-content: center
        align-items: center
        width: 33px
        height: 33px
        background-color: #776860
        border-radius: 50%
        border: none
        transition: background-color .3s, color .3s
        background-image: none
        outline: none
        opacity: 1
        position: relative
        span
          width: 10px
          height: 20px
          display: flex
          justify-content: center
          align-items: center
          font-size: 30px
          line-height: 30px
          margin: -5px auto 0
        &:hover,
        &:focus
          background-color: $accent
          color: #ffffff
  &__item
    &-text
      margin-bottom: 35px
      font-size: 16px
      color: #ffffff
    &-link
      display: inline-block
      padding-left: 40px
      font-weight: 700
      color: #ffffff
      text-decoration: none
      transition: color .3s
      position: relative
      &::before,
      &::after
        content: ''
        position: absolute
        display: block
        width: 30px
        height: 21px
        left: 0
        bottom: 1px
        background-image: url(../img/svg/japanese-flag.svg)
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
      &::after
        left: auto
        width: 16px
        height: 16px
        right: -26px
        bottom: 3px
        background-image: url(../img/svg/arrow-white.svg)
      &:hover,
      &:focus
        color: $accent
/* END LEGALITY GUIDE SECTION ==========*/

/* START TESTIMONIALS SECTION ==========*/
.testimonials
  padding: 80px 0

  &__content
    position: relative

  &__title
    margin-bottom: 40px
    text-align: center

  &__items
    &-wrap
      margin: 0 auto
      width: 100%
      max-width: 800px
      position: relative
  &__buttons
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    z-index: 1
    &-prev,
    &-next
      display: flex
      justify-content: center
      align-items: center
      width: 40px
      height: 40px
      position: absolute
      top: 50%
      background-image: none
      opacity: 1
      z-index: 1
      border: none
      background-color: transparent
      cursor: pointer
    &-next
      right: 0
    &-prev
      left: 0
  &__item
    margin: 0 auto
    max-width: 375px
    width: 100%
    padding: 55px 20px 20px
    position: relative
    box-shadow: 0 10px 25px 0 rgba(32, 20, 4, 0.07)
    text-align: center
    &-wrap
      padding: 40px 15px
      max-width: 405px
      width: 100%
      margin: 0 auto
    &-img
      width: 75px
      height: 75px
      border-radius: 50%
      overflow: hidden
      border: 5px solid #ffffff
      box-shadow: 0 5px 10px 0 rgba(32, 20, 4, 0.12)
      position: absolute
      left: 50%
      top: -40px
      transform: translateX(-50%)
      img
        width: 100%
        height: 100%
        object-fit: cover
    &-h4
      margin-bottom: 10px
      font-size: 16px
      color: $headers
    &-logo
      margin-top: 10px
      height: 45px
      img
        height: 100%
        width: auto
        object-fit: contain

  &__arrow
    width: 30px
    height: 20px
    fill: #dadada
    transition: fill .3s

  &__button
    display: flex
    width: 270px
    margin: 0 auto
    color: #ffffff
    text-decoration: none

.testimonials__buttons .testimonials__buttons-prev:hover .testimonials__arrow,
.testimonials__buttons .testimonials__buttons-prev:focus .testimonials__arrow,
.testimonials__buttons .testimonials__buttons-next:hover .testimonials__arrow,
.testimonials__buttons .testimonials__buttons-next:focus .testimonials__arrow
  fill: $accent
/* END TESTIMONIALS SECTION ==========*/

/* START PRICING SECTION ==========*/
.pricing
  padding: 80px 0
  background-color: #ebebeb

  &__title
    margin-bottom: 40px
    text-align: center

  &__toggle
    margin: 0 auto 40px
    max-width: 230px
    height: 45px
    display: flex
    list-style-type: none
    background-color: #fff
    border-radius: 45px
    box-shadow: inset 0 0 0 1px #bcbcbc
    li
      width: 50%
      &.active
        .pricing__toggle-button
          background-color: $headers-medium
          color: #ffffff
    &-button
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      font-size: 16px
      color: $headers-medium
      border-radius: 45px
      border: none
      background-color: transparent
      cursor: pointer
      position: relative

  &__items
    &-wrap
      display: none
      justify-content: space-between
      flex-wrap: wrap
      &.active
        display: flex

  &__item
    max-width: 230px
    width: 100%
    padding: 30px
    background-color: #fff
    border-radius: 5px
    &-title
      margin-bottom: 5px
      display: flex
      justify-content: space-between
      align-items: center
      font-size: 20px
      font-weight: 500
      color: $headers-medium
      img
        display: block
        width: 26px
        height: 26px
    &-price
      height: 50px
      font-weight: 500
      display: flex
      justify-content: space-between
      align-items: center
      font-size: 12px
      line-height: 1.5
      margin-bottom: 10px
      .price
        font-size: 18px
        font-weight: 500
        color: $headers-medium
        sup
          font-size: 12px
    &-text
      margin-bottom: 30px
      padding: 10px 0
      border-top: 1px solid rgba(32, 20, 4, 0.15)
      border-bottom: 1px solid rgba(32, 20, 4, 0.15)
      text-align: center
      font-size: 12px
      font-weight: 500
      .name
        margin-bottom: 5px
        color: $headers
      .times
        color: $accent
        position: relative
        span
          margin-left: 5px
          font-size: 25px
          line-height: 25px
          position: absolute
          bottom: -2px
    &-button
      text-align: center
      a
        width: 100%
        height: 40px
        color: #ffffff
        text-decoration: none
        &.free
          background-color: rgba(32, 20, 4, 0.05)
          color: $headers-medium
          border: solid 1px #ebebeb
/* END PRICING SECTION ==========*/

/* START SIMPLIFY SECTION ==========*/
.simplify
  padding: 80px 0
  background-image: url(../img/simplify-bg.jpg)
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  background-color: $text

  &__content
    &-wrap
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
      color: #ffffff

  &__title
    max-width: 450px
    h2
      margin-bottom: 15px
      font-size: 28px
      color: #ffffff
    .subtitle
      font-size: 16px
      text-transform: none

  &__links
    display: flex
    a
      display: flex
      width: 216px
      &:not(:first-child)
        margin-left: 20px
/* END SIMPLIFY SECTION ==========*/

/* START FOOTER ==========*/
.footer
  padding: 40px 0
  background-color: #fcfafa

  &__topline
    margin-bottom: 20px
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    &-logo
      width: 120px
      height: 40px
      img
        width: 100%
        height: 100%

  &__links,
  &__sotial
    list-style-type: none
    display: flex
    align-items: center
  &__links
    li
      &:not(:first-child)
        a
          margin-left: 15px
      a
        display: block
        font-size: 16px
        text-decoration: none
        color: $text
        padding: 6px 10px
        transition: color .3s
        &:hover,
        &:focus
          color: $headers-medium
  &__sotial
    &-title
      color: $headers
    li
      &:not(:first-child)
        margin-left: 20px
      a
        display: block
        width: 30px
        height: 30px
        transition: color .3s, transform .3s
        &:hover,
        &:focus
          transform: scale(1.1)
          .footer__sotial-link
            fill: $accent
    &-link
      width: 30px
      height: 30px
      fill: $headers-medium
      transition: fill .3s

  &__bottomline
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    &-text
      display: flex
      align-items: center
    &-img
      margin-right: 15px
      width: 35px
      height: 35px
      img
        width: 100%
        height: 100%
    &-contacts
      .title
        font-size: 16px
        color: #202020
      .contacts
        a
          display: inline-block
          margin: 5px 0
          text-decoration: none
          color: $headers-medium
          transition: color .3s
          &:hover,
          &:focus
            color: $accent
/* END FOOTER ==========*/