@import 'vars'

/* START HEADER LEGALITY COUNTRY ==========*/
.header
  &--legalityCountry
    background-image: url(../img/legality-country-header-bg.jpg)
    background-position: top center

  &__main--legalityCountry
    padding-top: 65px

  &__h1--legalityCountry
    font-size: 28px
    margin-bottom: 15px
    display: flex
    align-items: center
    .flag
      margin-right: 10px
      display: block
      width: 30px
      height: 21px

  &__subtitle--legalityCountry
    font-size: 12px
    color: #ebebeb
    margin-bottom: 15px

  &__subtitle-text--legalityCountry
    font-size: 16px
    color: #ebebeb
    max-width: 635px
    margin-bottom: 30px

  &__items--legalityCountry
    max-width: 720px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    color: #ffffff

  &__item--legalityCountry
    max-width: 230px
    width: 100%
    height: 85px
    border-radius: 7px
    border: 1px solid $headers-medium
    text-align: center
    background-image: linear-gradient(108deg, #271b14, rgba(39, 27, 20, 0.5))
    padding-top: 15px
    margin-bottom: 5px
    .name
      width: 100%
    .option
      font-size: 22px
      font-weight: 500
/* END HEADER LEGALITY COUNTRY ==========*/

/* START ADVANTAGES SECTION ==========*/
.advantages
  &__content-wrap--leaglityCountry
    align-items: initial
/* END ADVANTAGES SECTION ==========*/

/* START LEGALITY COUNTRY TEXT CONTENT ==========*/
.legalityCountryText
  padding: 80px 0

  &__items
    display: flex
    justify-content: space-between

  &__text
    margin-bottom: 35px
  &__item
    &--left
      padding-right: 50px
    &--right
      max-width: 230px
      flex: none
    .title
      margin-bottom: 15px
    .subtitle
      margin-bottom: 30px
      font-weight: 700
      color: $headers-medium
    .text-list
      margin-bottom: 30px
      li
        &:not(:last-child)
          margin-bottom: 15px

  &__list
    margin-top: 30px
    .text-list
      margin-bottom: 80px
    li
      a
        display: block
        width: 100%
        height: auto
        color: $text
        text-decoration: none
        transition: color .3s
        &:hover,
        &:focus
          color: $accent

  &__card
    padding: 40px 15px
    color: #ffffff
    background-color: $text
    background-image: url(../img/legality-country-card-bg.jpg)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    border-radius: 7px
    text-align: center
    .title
      margin-bottom: 15px
      color: #ffffff
    .text
      margin-bottom: 15px
      padding: 0 5px
    .link
      width: 100%
      height: 40px

  &__banner
    margin-bottom: 40px
    padding: 15px
    box-shadow: inset 0 0 0 1px #cec2bd
    border-radius: 5px
    background-color: rgba(119, 86, 73, 0.15)
    color: #000000
    .text
      margin-bottom: 30px
      font-size: 12px
    .date
      color: $text

  &__link
    display: inline-block
    padding: 10px 15px
    box-shadow: inset 0 0 0 2px #ebebeb
    border-radius: 5px
    text-decoration: none
    color: #000000
    transition: color .3s, box-shadow .3s
    font-size: 16px
    span
      color: $accent
    &:hover,
    &:focus
      color: $accent
      box-shadow: inset 0 0 0 2px $accent
/* END LEGALITY COUNTRY TEXT CONTENT ==========*/