@import 'vars'

/* START LEGALITY HEADER ==========*/
.header
  &--legality
    min-height: 460px
    background-image: url(../img/legality-header-bg.jpg)
    position: relative
    &::before
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 100%
      left: 0
      top: 0
      background-color: #271b14
      opacity: 0.75
      z-index: 0

  &__content--legality
    min-height: inherit
    position: relative
    background-image: url(../img/legality-header-bg-2.png)
    background-repeat: no-repeat
    background-position: center center
    background-size: 80% 90%

  &__h1--legality
    font-size: 28px
    margin-bottom: 15px
  
  &__subtitle--legality
    text-align: center
    font-size: 16px
    margin-bottom: 30px

  &__main--legality
    padding-top: 65px
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    flex-direction: column

  &__form
    &-wrap--legality
      max-width: 450px
      width: 100%
      position: relative

    &--legality
      margin-bottom: 35px
      width: 100%
      display: flex
      justify-content: space-between
      label
        display: block
        position: relative
        max-width: 402px
        width: 100%
        &.active
          &::before
            transform: translateY(-50%) rotateX(0)
        &::before
          content: ''
          position: absolute
          display: block
          width: 7px
          height: 7px
          top: 50%
          right: 17px
          transform: translateY(-50%) rotateX(180deg)
          background-image: url(../img/svg/gray-arrow.svg)
          background-repeat: no-repeat
          background-position: center center
          background-size: contain
        input
          display: block
          width: 100%
          padding: 13px 25px 15px 15px

      .search
        display: flex
        justify-content: center
        align-items: center
        width: 45px
        height: 46px
        background-color: $accent
        border: none
        border-radius: 4px
        cursor: pointer
        transition: background-color .3s
        &:hover
          background-color: darken($accent, 5)
        &:focus
          background-color: lighten($accent, 5)
        img
          width: 20px
          height: 20px

    &-list
      display: block
      width: 100%
      max-width: 402px
      max-height: 200px
      background-color: #fff
      list-style-type: none
      border-radius: 4px
      overflow: hidden
      border: 1px solid #ebebeb
      position: absolute
      left: 0
      top: 50px
      overflow: auto
      display: none
      &.active
        display: block
      li
        color: $text
        cursor: pointer
        .country
          display: block
          padding: 7px 15px
          color: $text
          text-decoration: none
          transition: background-color .3s, color .3s
          &:hover,
          &:focus
            background-color: #f8f6f5
            color: #000000

  &__main-button--legality
    display: flex
    align-items: center
    font-size: 16px
    font-weight: 700
    text-decoration: none
    color: #ffffff
    transition: color .3s
    &:hover,
    &:focus
      color: $accent
    .arrow
      display: inline-block
      width: 16px
      height: 16px
    .flag
      display: inline-block
      width: 30px
      height: 21px
    span
      display: inline-block
      margin: 0 10px
/* END LEGALITY HEADER ==========*/

/* START LEGALITY CONTENT ==========*/
.advantages
  &--legality
    background-color: #fcfafa
.legality
  &__content-wrap
    align-items: initial
  &__description
    max-width: 635px
    p:not(:last-child)
      margin-bottom: 30px
/* END LEGALITY CONTENT ==========*/

/* START FACTS SECTION ==========*/
.facts
  padding: 80px 0

  &__title
    margin-bottom: 65px
    text-align: center
    h2
      margin-bottom: 15px
    .subtitle
      font-size: 14px
      text-transform: none
      font-weight: 400

  &__items
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__item
    max-width: 310px
    padding: 20px
    box-shadow: 0 5px 10px 0 rgba(65, 48, 42, 0.07)
    margin-bottom: 20px
    &-img
      margin-bottom: 25px
      width: 50px
      height: 50px
      img
        width: 100%
        height: 100%
    h3
      margin-bottom: 10px
      font-size: 18px
/* END FACTS SECTION ==========*/