@import 'vars'

/* START NEWS CONTENT ==========*/
.news
  padding: 0 0 40px
  &__banner
    margin-top: 0
    &-date
      margin-top: auto
  &__items
    margin-bottom: 0
/* END NEWS CONTENT ==========*/