@import 'vars'

/* START PRIVACY POLICY HEADER ==========*/
.header
  &__nav-links--privacy li a.login--policy,
  &__nav-links--privacy li a.signUp
    width: 100px
  &__nav-links--privacy li a.login--policy
    display: flex
    justify-content: center
    align-items: center
    border-radius: 4px
    border: solid 2px #ebebeb
    transition: border-color .3s
    &:hover,
    &:focus
      border-color: $headers-medium
/* END PRIVACY POLICY HEADER ==========*/

/* START PRIVACY POLICY TEXT ==========*/
.privacyPolicy
  padding: 80px 0 0

  &__title
    position: relative
    padding-top: 40px
    &::before
      content: ''
      position: absolute
      display: block
      width: 80px
      height: 2px
      left: 0
      top: 0
      background-color: $headers-medium
  &__update
    font-size: 16px
    color: $headers
    margin-bottom: 20px
    font-family: $noto
    line-height: 1.3
  &__h1
    font-size: 28px
    color: $headers
    margin-bottom: 25px
    font-family: $noto
    font-weight: 400
    line-height: 1.3
  &__text
    font-size: 16px
    line-height: 1.6
    &:not(:last-child)
      margin-bottom: 25px
    &-wrap
      border-bottom: 1px solid rgba($text, .3)
      padding-bottom: 100px
  &__h3
    font-size: 22px
    font-weight: 700
    margin-bottom: 20px
    color: #383838
    font-family: $noto
    font-weight: 700
  &__list
    list-style-type: none
    padding-left: 30px
    font-size: 16px
    margin-bottom: 30px
    li
      padding-left: 15px
      position: relative
      &::before
        content: ''
        position: absolute
        display: block
        width: 6px
        height: 6px
        left: 0
        top: 10px
        border-radius: 50%
        background-color: $headers-medium
      span
        display: block
        margin-bottom: 10px
/* END PRIVACY POLICY TEXT ==========*/

/* START FOOTER LIGHT ==========*/
.footerLight
  padding: 110px 0 45px

  &__content-wrap
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

  &__copyright
    font-family: $noto
    color: #4a4a4a

  &__sotial
    &-links
      list-style-type: none
      display: flex
      li
        display: block
        &:not(:first-child)
          margin-left: 15px
        a
          display: block
          width: 40px
          height: 40px
          &:hover,
          &:focus
            .footerLight__sotial-icon
              fill: $accent
    &-icon
      width: 100%
      height: 100%
      fill: #4e4e56
      transition: fill .3s
/* END FOOTER LIGHT ==========*/